[2020-03-02 21:44] timdorr commented on #502
BTW, I pinged Dan to give me npm access. If Mihail isn't available (he's probably pretty busy) to give access to the Chrome Extension publishing group, we may have to make a new one in the Chrome Web Store.

[2020-03-02 21:47] madcapnmckay commented on #502
The number 1 issue I'd like to address is the npm version publish disconnect. There are also some PRs/Issues that are related to updating dependencies causing people to have to fork themselves.

I'm hesitant to dive into that before learning some context. I will start to go through the issue backlog and see if I can get the lay of the land.

[2020-03-02 22:23] zalmoxisus commented on #502
@timdorr I added you to npm. Let me know your email address you want to use for Chrome Extension publishing group as well. It would require some time to check everything before publishing as Chrome autoupdates the extension and in case of some issues it could break many sites (as many leave it in production) and there's also risk of stealing users data in case of some packages being compromised.

[2020-03-02 22:34] timdorr commented on #502
Perfect, thanks! I'm `<my username>@gmail.com` for all things Google.

I can take a look through the deployment setup we've got. I've actually been a long-time developer on the CWS, so I've got some tooling I can pull in to help automate that stuff.

I'm more than happy to take that off your plate so you can focus on the important things in life. Hope that all gets better soon!

[2020-03-02 23:03] zalmoxisus commented on #502
I added you @timdorr. Also I need you to register at https://addons.mozilla.org/en-US/developers/ or if using another address already there let me know for publishing Firefox extension. Thanks for helping!

[2020-03-03 01:43] timdorr commented on #502
I use `mozilla@timdorr.com` over there.

[2020-03-03 12:19] zalmoxisus commented on #502
Granted owner rights. The other member who has the right to publish extensions is @jhen0409.

[2020-03-03 15:05] timdorr commented on #502
Cool, thank you!

[2020-03-04 18:42] madcapnmckay commented on #502
Great. Thanks @zalmoxisus and @timdorr. I'll try and carve out some time this week to dive in and see if I can be of use.

[2020-03-06 12:12] suhailibnnisar opened #503 "How can I get this new awesome looking UI?"
Where and how can I get new cool UI as shown in this repo's readme, is it a standalone app or something else.
![Screenshot from 2020-03-06 17-54-34](https://user-images.githubusercontent.com/61163044/76082593-df75d100-5fd3-11ea-8ad1-6505c6358ab1.jpg)

[2020-03-07 17:01] timdorr commented on #502
I think I just need to get a handle on the status of this monorepo versus Mihail's original one. There are diverging commits, so I don't want anything important to get lost.

It's on my list to get things taken care of and back on track.

[2020-03-07 17:43] Methuselah96 commented on #502
@timdorr Are you talking about the difference between some of the original repos and Mihail's fork of them to be used for the extension (e.g. https://github.com/alexkuz/redux-devtools-inspector vs. https://github.com/zalmoxisus/remotedev-inspector-monitor)? Do you want me to do the leg-work of trying to reconcile differences between the two and make a PR for anything that was changed in the `remot

[2020-03-07 21:13] erezcohen commented on #496
True.
This is, BTW, a regression from some previous version.
Maps used to be serialized, although as I recall they were displayed as an array arrays.
Would be nice to see it displayed as chrome dev tool shows them.

[2020-03-07 22:31] zalmoxisus commented on #502
The list of what has moved here is in #412. So basically all the necessary parts except the browser extension and its `redux-devtools-extention` npm package (optional helper used for ts and to replace the global variable). The plan was to rewrite a new version of browser extension from scratch here (with a new way of injecting the script and a new UI), and leave my repo as legacy one.

`redux-devt

[2020-03-07 22:42] zalmoxisus commented on #502
@Methuselah96 those packages with differences at that time were merged in [packages/redux-devtools-inspector](https://github.com/reduxjs/redux-devtools/tree/master/packages/redux-devtools-inspector).

[2020-03-07 22:55] Methuselah96 commented on #502
@zalmoxisus I see that now, thanks!

@timdorr Which of Mihail's repos are you referring to?

[2020-03-08 00:49] Methuselah96 commented on #502
@zalmoxisus Although, I don't think the latest version of `redux-devtools-inspector` has been published to npm. The latest version on npm is 0.11.3 which was published on 3/5/2017 which doesn't include important fixes like https://github.com/alexkuz/redux-devtools-inspector/commit/5202f01f15779a7a01e6679272a6d5f4566d646f (see https://github.com/reduxjs/redux-devtools/issues/481). I've been unable

[2020-03-09 06:06] aymkin opened #504 "Redux devtools with "autoselect instance" -> will autoselect @react-navigation"
I use React Native Debugger to inspect the redux state of my react native app.

React navigation automatically creates an instance called "@react-navigation" in the redux devtools each time I live reload (see screenshot).

With auto select instances turned on, @react-navigation takes precedence over the new redux store instance. It's very annoying because I must manually select the new redux store

[2020-03-10 14:24] neolefty commented on #480
Any responses? I'd like to get a version of the JSON tree viewer at least that only uses the current React API. Maybe it's time to add a new maintainer or fork after all ...

[2020-03-10 15:37] bluepeter commented on #480
Looks like we are going to have to fork.

This is a recurrent problem w/ open source. I don't get why maintainers can't even *respond* or delegate the repo to someone else?!

[2020-03-10 15:38] bluepeter commented on #480
@timdorr can you help please??

[2020-03-10 15:42] timdorr commented on #502
@Methuselah96 I thought the redux-devtools-extension _was_ this repo. I guess I have those confused. Still learning!

[2020-03-10 15:43] timdorr commented on #480
See #502. I've _just_ gotten the keys to the castle, so it will take me a bit to get a handle on things and help out here.

[2020-03-10 16:57] bluepeter commented on #480
Super! Glad to have your steady hands @timdorr at the tiller!

[2020-03-11 13:40] Type1J commented on #480
@timdorr Personally, I'm just glad that somebody is able to help out! Your work and time are appreciated.

[2020-03-20 07:11] quezath commented on #473
Hello @Methuselah96 , saw you comments on #502.

I just wanted to ask if your exchange with @timdorr has led to any update to this particular issue?
Thanks!

[2020-03-20 12:05] Methuselah96 commented on #473
@quezath No updates yet.
@timdorr Let me know if there's anything I can do to help move this along.

[2020-03-22 14:20] samipshah100 commented on #504
Same issue

[2020-03-24 14:05] Methuselah96 commented on #502
@timdorr Any updates on this? No worries if not, I just wanted to make sure it hasn't been forgotten since it's been a couple of weeks. I'm looking forward to this project getting back to a maintained state. As always, let me know if there's anything I can do to help move this along.

[2020-03-24 17:44] timdorr commented on #502
Not at the moment. We just closed our first funding round at [my startup](https://spaceship.run/), so things are kind of hectic, along with all the COVID-19 craziness. I will try to get to it soon.

[2020-04-13 21:44] fats2005 commented on #478
Hi @zaleGZL, did you find a way to solve this issue?

[2020-04-14 14:41] zaleGZL commented on #478
Sorry, I didn't find a solution to this problem either.

[2020-04-15 19:37] ArielGueta opened #505 "Can't see the trace tab"
Based on the docs, we need to add `trace` true in order to see the trace tab. I'm using this library with a personal project, and call it manually:

[code]

But when I open the dev-tools, I see only the Action, State, and Diff tabs. When I am missing?

Thanks in advance.

[2020-04-16 12:22] simsonek commented on #498
I have checked that you can set custom value for the arrays size which is ellipsized

`<JSONTree data={data} collectionLimit={10000} /> `
or higher value if needed should work

[2020-04-18 04:24] moonjava2005 opened #506 "Intergrate to Flipper"
Hi you guys,
There's any way to integrate redux-devtools to Flipper.
I tried to search on stackoverflow but there's no clearly solution
Thanks for you helps

[2020-04-24 11:14] m4major commented on #376
use it after electron ready (app.on('ready'....)
BrowserWindow.removeDevToolsExtension('React Developer Tools');

[2020-04-26 19:16] spierala commented on #505
Same issue here

[2020-04-29 03:42] Methuselah96 commented on #505
@ArielGueta @spierala

Can you guys try https://methuselah96.github.io/redux-devtools-app-testing/ and let me know if you see a trace tab on that site? This is what I see when I use Redux DevTools on that site:
![image](https://user-images.githubusercontent.com/693755/80558841-b78a6480-89a9-11ea-96b9-274b92e021e5.png)

Also what browser are you using and what is the version number of the Redux Dev

[2020-04-29 03:59] Methuselah96 commented on #489
Check the docs here https://github.com/zalmoxisus/redux-devtools-extension#12-advanced-store-setup. In your case you should be able to use it like this:
[code]

[2020-04-29 04:25] ArielGueta commented on #505
I see the trace tab, and btw I don't see the message inside it

[2020-04-29 11:00] spierala commented on #505
I can also see the trace tab in your example. Also with the trace information. I wonder maybe it has to do with the fact that I use the redux dev tools extension in an Angular Project?

Here is my implementation (currently without trace but with name, latency, maxAge): https://github.com/spierala/mini-rx-store/blob/master/projects/mini-rx-store/src/lib/redux-devtools/redux-devtools.extension.ts

[2020-04-30 01:06] Methuselah96 commented on #505
The Trace and Test tabs only appear if the Redux DevTools detects that it's working with a Redux application (based on https://github.com/zalmoxisus/remotedev-app/blame/master/src/app/containers/monitors/InspectorWrapper/index.js#L25-L29). The way that it determines whether it's a Redux application is by listening for a certain message type from the application which is only set when using the def

[2020-04-30 01:16] Methuselah96 commented on #503
The new UI has yet to be released. As far as I know, the new UI is ready to go since the changes in https://github.com/zalmoxisus/remotedev-app/pull/30 were included in https://github.com/reduxjs/redux-devtools/tree/master/packages/redux-devtools-core, however the changes have not yet been published. Once we get a little more organized in this repo, we can look into what still needs to be done bef

[2020-04-30 01:18] Methuselah96 commented on #498
@taylorharwin Does that sufficiently address your issue?

[2020-04-30 01:24] Methuselah96 commented on #501
We're working on getting this project back to a maintained state (see https://github.com/reduxjs/redux-devtools/issues/502). Once that happens we'll be sure to make sure to publish the latest version of all the packages.

[2020-04-30 01:48] Methuselah96 commented on #478
@zaleGZL Do you have a reproducible example so that I can look into this?

[2020-04-30 02:52] Methuselah96 commented on #505
It looks like the latest (unreleased) version of the Redux DevTools actually does show the Trace tab either way, so once we can release the latest version, the Trace tab should be visible when using the `connect` function (https://github.com/reduxjs/redux-devtools/blob/master/packages/redux-devtools-core/src/app/containers/monitors/InspectorWrapper/index.js#L9).

[2020-04-30 04:20] ArielGueta commented on #505
I'm not using it with Redux. The docs say that we can implement our own custom logic for trace. So I guess we need to wait for the next version.

[2020-04-30 12:51] Methuselah96 commented on #496
@ZackingIt This seems to be working for me (here's a quick demo: https://methuselah96.github.io/redux-devtools-app-testing/). Can you create a reproducible example?

[2020-04-30 13:24] Methuselah96 commented on #496
Nevermind, I was just testing it with `react-json-tree`. I see now that it doesn't work in the Redux DevTools. I'll take a look at it later.

[2020-04-30 22:22] Methuselah96 commented on #496
It's worth noting that Redux highly discourages putting `Map`s in Redux state (https://redux.js.org/style-guide/style-guide#do-not-put-non-serializable-values-in-state-or-actions). I might it look into it later, but it's not a high priority because you really shouldn't be putting `Map`s in state in the first place.

[2020-05-01 13:06] erezcohen commented on #496
Ha. You are right. I was aware of the rule of non-serializable values in the store, but I was not aware that Maps and Sets are included there. And indeed, I looked at the history of that style guide in github I saw that the words "Maps/Sets" were added to the sentence just 4 months ago.
So I guess we won't be adding any new Maps or Sets to the store.
But it won't be easy to refactor out all the ex

[2020-05-03 19:28] rob2d commented on #496
I can get the rationale behind non-serializables (to pass around JSON), but it seems like this can be worked around with various quick/compact libraries for formatting and supporting that (for example TSON). Also, it's definitely a maintainers right to insist on that, but there are benefits to using Maps/Sets. Non conclusive reasons: in newer browsers without polyfill, it's much faster to iterate

[2020-05-03 19:34] rob2d commented on #496
Yeah this is sort of a problem with JSON being so closely linked to JavaScript. It sucks that there hasn't been a new format that is widely adopted natively for JS. But as mentioned above there's some nice libraries that are fast and with minimal overhead to JSON; I personally had really good experience for Maps/Set encoding w TSON in the recent past:
https://github.com/tercen/TSON

[2020-05-04 04:50] Methuselah96 commented on #496
@rob2d It is true that the former maintainer of this project has moved on (see https://github.com/reduxjs/redux-devtools/issues/502). Up until this past week I've been too busy to dedicate any time to this, but starting last week I now have quite a bit of free time for the foreseeable future and hope to be an active maintainer for this project. I've just started to get familiar with the code in th

[2020-05-04 13:16] timdorr commented on #496
I'm around! Let me add you to the project as a contributor. I'll do that in a bit when I'm at my computer.

[2020-05-04 15:19] #480 closed

[2020-05-04 15:25] timdorr commented on #502
Just added @Methuselah96 to the team and cleaned up a bunch of PRs. Hopefully, that means we're getting things on track. I'm going to close this out, but feel free to open another issue like this if we don't stick to our word :)

[2020-05-04 15:25] #502 closed

[2020-05-04 15:27] timdorr commented on #506
You probably want https://github.com/jk-gan/redux-flipper. This project is geared towards Dev Tools implementations.

[2020-05-04 15:28] timdorr commented on #473
Just merged in a PR to add it. We should get it released soon.

[2020-05-04 15:28] #473 closed

[2020-05-04 15:32] #497 closed

[2020-05-04 15:32] timdorr commented on #475
You shouldn't put complex objects into the store: https://redux.js.org/faq/organizing-state#can-i-put-functions-promises-or-other-non-serializable-items-in-my-store-state

[2020-05-04 15:32] #475 closed

[2020-05-04 15:39] Methuselah96 commented on #455
Resolved by https://github.com/reduxjs/redux-devtools/pull/477.

[2020-05-04 15:39] #455 closed

[2020-05-04 15:42] Methuselah96 commented on #489
Let me know if you have any more issues with this.

[2020-05-04 15:42] #489 closed

[2020-05-05 14:21] #498 closed

[2020-05-06 14:46] Methuselah96 commented on #490
@timdorr What is the plan for publishing? It seems like we should publish:

- `react-json-tree`: `0.12.0` (resolves https://github.com/reduxjs/redux-devtools/issues/480, https://github.com/reduxjs/redux-devtools/issues/490 (and https://github.com/reduxjs/redux-devtools/issues/487 if we get https://github.com/reduxjs/redux-devtools/pull/513 merged))
- `redux-devtools-inspector`: `0.12.0` (with `rea

[2020-05-06 20:34] timdorr commented on #490
No specific plan. I haven't yet looked through the state of the code right now to know if they should be published and at what version (patch vs minor vs major).

Maybe we can do a quick RC release so they don't show up on the `latest` npm tag and and break things for folks without some testing first. Plus, that will make sure I know how to publish these libraries (in case there are different step

[2020-05-07 05:14] Methuselah96 commented on #490
Makes sense. I've compiled an exhaustive changelog. Hopefully that will help with the publish. I've included a short summary under each change where appropriate.

Overall, it looks like almost all of the changes were internal changes (https://github.com/reduxjs/redux-devtools/pull/449 looks like just linting). Before we started, I don't think there had been any unpublished bug fixes or feature cha

[2020-05-07 06:38] Methuselah96 commented on #490
@timdorr After thinking about it a little more, I think it would make sense to just publish `react-json-tree` (in order to resolve https://github.com/reduxjs/redux-devtools/issues/480 and https://github.com/reduxjs/redux-devtools/issues/490) and `redux-devtools` (in order to resolve https://github.com/reduxjs/redux-devtools/pull/482).

`redux-devtools-inspector` can't be published until https://gi

[2020-05-07 06:40] Methuselah96 commented on #501
Duplicate of https://github.com/reduxjs/redux-devtools/issues/453.

[2020-05-07 06:40] #501 closed

[2020-05-07 06:47] Methuselah96 commented on #462
What do you mean by dispatching an `Object` instead of a `string`? `action` should always be an object with a `type` parameter that is a `string`.

[2020-05-07 12:31] Methuselah96 commented on #412
@alexkuz Do you mind if we also move `react-base16-styling` over here? `react-json-tree` relies on it pretty heavily and it would be convenient to be able to update its dependencies and/or types.

[2020-05-07 19:21] adamcee commented on #497
🔥

[2020-05-07 21:09] Methuselah96 commented on #490
I don't know if it's helpful or not but here's a graph of the different repos getting merged together and the commit history since then: https://methuselah96.github.io/redux-devtools-app-testing/.

[2020-05-10 06:25] dwcIntegral commented on #464
Would love this option as well. Being able to simply replace the `JSONArrow` with my own `customArrow` component would be ideal. Thanks for a great tool!

[2020-05-17 04:28] leonprou commented on #462
Oh sorry, I wrote there more than a year ago so not sure what I meant.
I think I passed the `type` as object by mistake and the chrome extension was acting weird..
It can be closed now

[2020-05-17 04:33] #462 closed

[2020-05-18 20:50] Methuselah96 commented on #468
@istanishev @justinwilaby Can one of you create a reproduction of the bug so that I can look into this? Here's an example of it working the way that I would expect: https://codesandbox.io/s/keen-goldstine-c5rd3?file=/src/index.js.

[2020-05-18 21:35] Methuselah96 commented on #469
@SourceCipher Can you create a reproduction of this bug? Here's an example of it working the way I would expect: Can one of you create a reproduction of the bug so that I can look into this? Here's an example of it working the way that I would expect: https://codesandbox.io/s/keen-goldstine-c5rd3?file=/src/index.js.

[2020-05-19 06:00] bluepeter commented on #480
@timdorr this seems to still be an issue... is there a new version that's coming hopefully?

[2020-05-19 13:41] Methuselah96 commented on #469
Never mind, I was able to reproduce it (https://codesandbox.io/s/optimistic-snow-0srg6?file=/src/index.js). I'll look into it when I get a chance.

[2020-05-19 16:26] Methuselah96 commented on #469
I don't think this is an issue with `react-json-tree`, it's just an issue with React in general. I don't know exactly what the rest of your code looks like, but the problem in my reproducible case was a side effect of state or props change to a parent component not being propagated to the child component (see https://medium.com/@admin_86118/react-re-render-child-components-on-parent-state-change-3

[2020-05-19 16:26] #469 closed

[2020-05-29 03:45] joshburgess commented on #496
At one point in time, about 1-2 years ago, all that was required to make something serializable by the dev tools was to patch in a `toJSON` method that returned valid JSON.

I once made a custom data structure, `SerializableMap`, that extended `Map` and just defined an extra `toJSON` that returned the key-val pairs in an object representation for easy viewing in the dev tools. It worked perfectly.

[2020-06-28 12:00] unlocomqx opened #525 "Remove instance"
I'm using redux devtools to monitor svelte components state and each component has a devtools instance. I need to remove the instance once the component gets destroyed. Does the API allow removing an instance?
I used `devTools.unsubscribe()` but that doesn't remove the instance
Thank you

[2020-07-08 18:02] arvind0598 commented on #500
Has there been any update for this?

[2020-07-08 19:05] Methuselah96 commented on #500
No update. Our focus so far has been trying to get a new release of some of the packages published, but it doesn't look like that's happening as quickly as I had hoped. I will be gone for the next two weeks, but after that I will see if I can get the old/last published version of the DevTools added to the MS extension store.

[2020-07-09 11:59] arvind0598 commented on #500
I did manage to find this and it does install, but I haven't really tested out any functionalities yet. Any idea how its on the store right now?

https://microsoftedge.microsoft.com/addons/detail/react-developer-tools/gpphkfbcpidddadnkolkpfckpihlkkil

[2020-07-09 14:57] Methuselah96 commented on #500
That's React Developer Tools not Redux Developer Tools.

[2020-07-09 21:20] arvind0598 commented on #500
Whoops. My bad.

[2020-07-10 20:23] JoeLangewayClear opened #527 "Support basic keyboard navigation in state views"
When viewing state, I have to precisely click each collapsed node to see the data in a deep redux state. When viewing JSON previews in the network tab, or generally any other JavaScript data anywhere in the browser's dev tools, after clicking to expand a single collapsed node of JSON data, I can then use the up and down cursor keys to move focus among visible nodes, or left and right to collapsed

[2020-07-20 21:13] stclairdaniel commented on #490
Any updates here? I'd love an update - we're getting warnings in our test runs about deprecated React methods.

[2020-07-20 22:31] Methuselah96 commented on #490
No updates from me. @timdorr Is there anything I can do to help publish? I have a bit of free time on my hand and it would help me motivate to work more on this project if I knew that fixes/changes are going to get published at some point.

[2020-07-21 03:05] jhenriquevissotto commented on #371
I have the same problem.

[2020-07-21 15:55] Methuselah96 commented on #371
@jhenriquevissotto Did you try adding `typeof window !== 'undefined'`?

[2020-07-22 03:35] brunolemos opened #529 "UI Bug - Using more than 100% of the window height, last item not appearing"
At the beginning, you can still see the bottom toolbar:

![image](https://user-images.githubusercontent.com/619186/88131203-ca7c9180-cbb2-11ea-938f-4c4331d8469c.png)

But when there's many actions, the main area height gets bigger than it should, so we can't see part of the bottom content:

![image](https://user-images.githubusercontent.com/619186/88131274-f3048b80-cbb2-11ea-84a8-5bd1611783e6.png)

[2020-07-25 17:28] Methuselah96 commented on #500
I've submitted the extension to the Microsoft Edge extension store and am waiting for it to be reviewed by Microsoft.

[2020-07-28 15:15] timdorr commented on #490
Hey @zalmoxisus or @alexkuz, can either of you grant me contributor access on npm? I'd like to help @Methuselah96 to get these updates published.

[2020-07-28 17:35] Methuselah96 commented on #490
@zalmoxisus @alexkuz @gaearon @jhen0409 @romseguy More specifically, the packages it would be great to have npm access to are:

Already in this monorepo/organization:
- `react-json-tree` (@alexkuz, @gaearon, @zalmoxisus)
- `redux-devtools-core` (@zalmoxisus)
- `redux-slider-monitor` (@jhen0409) (rename to `redux-devtools-slider-monitor`?)
- `redux-devtools-inspector` (@alexkuz, @zalmoxisus)
- `dev

[2020-07-29 02:23] #487 closed

[2020-07-29 02:26] #466 closed

[2020-07-30 16:47] zalmoxisus commented on #490
Hey guys! Thanks for all the effort here!
I granted access to @timdorr and @Methuselah96:
- `redux-slider-monitor`
- `d3-state-visualizer`
- `map2tree`
- `react-json-tree`
- `d3tooltip`
- `redux-devtools-chart-monitor`
- `redux-devtools-inspector`
- `redux-devtools-test-generator`
- `redux-devtools-extension`
- `remotedev-serialize`
- `devui`
- `redux-devtools-trace-monitor`
- `redux-devtools-core

[2020-07-30 20:23] Methuselah96 opened #530 "Roadmap"
Hey guys, I'm one of the new maintainers of Redux DevTools. Here's a list of our priorities as we become familiar with the code base and the state of this monorepo:

- [x]  1. Release latest version of all packages.
- [x]  2. Convert packages to TypeScript (in order to gain familiarity with the code base and make contributions easier).
  - [x] `react-base16-styling`
  - [x] `redux-devtools-instrum

[2020-07-30 23:41] Methuselah96 commented on #490
Published: https://github.com/reduxjs/redux-devtools/releases/tag/react-json-tree%400.12.0

[2020-07-30 23:41] #490 closed

[2020-07-31 03:53] Methuselah96 commented on #481
Published: https://github.com/reduxjs/redux-devtools/releases/tag/redux-devtools-inspector%400.12.0

[2020-07-31 03:53] #481 closed

[2020-07-31 06:19] MichaelMarner commented on #530
Hey @Methuselah96 I'm the author of the [Dart/Flutter Remote Devtools](https://github.com/MichaelMarner/dart-redux-remote-devtools) package. Good to see this project getting some attention again. Once the updated versions have been published to npm I'll change our documentation to `redux-devtools-cli`.

I'd also be willing to help with some of the work required to convert to TypeScript if it's wor

[2020-08-01 10:18] alexkuz commented on #490
@timdorr @Methuselah96 here you are :) Thank you!

[2020-08-02 01:28] Methuselah96 commented on #453
Resolved with [`redux-devtools-cli@1.0.0-2`](https://github.com/reduxjs/redux-devtools/releases/tag/redux-devtools-cli%401.0.0-2).

[2020-08-02 01:28] #453 closed

[2020-08-02 01:28] Methuselah96 commented on #454
Resolved with [`redux-devtools-cli@1.0.0-2`](https://github.com/reduxjs/redux-devtools/releases/tag/redux-devtools-cli%401.0.0-2).

[2020-08-02 01:28] #454 closed

[2020-08-02 01:32] Methuselah96 commented on #530
Hey @MichaelMarner, I've published [`redux-devtools-cli@1.0.0-2`](https://github.com/reduxjs/redux-devtools/releases/tag/redux-devtools-cli%401.0.0-2) that is mostly functional, however it's still a pre-release so I'll leave it up to you whether to start pointing to it yet or net.

Thanks for being willing to help, but converting this project to TypeScript myself has been extremely helpful in beco

[2020-08-03 01:42] Methuselah96 commented on #500
The extensions has been published to the Edge Add-ons store: https://microsoftedge.microsoft.com/addons/detail/nnkgneoiohoecpdiaponcejilbhhikei.

[2020-08-03 01:42] #500 closed

[2020-08-03 01:48] Methuselah96 commented on #525
@unlocomqx It seems like this is a duplicate of https://github.com/reduxjs/redux-devtools/issues/366. Can you verify that it is?

[2020-08-03 04:26] Methuselah96 commented on #382
@JHanLu I'm not really sure I understand your question. If this is still relevant, please fell free to clarify and I'll re-open this issue.

[2020-08-03 04:26] #382 closed

[2020-08-03 04:29] #10 closed

[2020-08-03 09:50] unlocomqx commented on #525
It's the same issue
I'll close this one then

[2020-08-03 09:50] #525 closed

[2020-08-06 13:42] ivoiv opened #559 "DevTools repeating code from removed reducers"
I have a special component and store setup, where when a certain component mounts, it creates a reducer for itself and adds it to the store via replaceReducer. When the component gets unmounted, it removes its reducer from the store.

However, every time the component gets mounted again, Redux DevTools re-executes all the code executed by the reducer during **ALL** the component's previous lifetim

[2020-08-06 14:04] Methuselah96 commented on #559
Thanks for the thorough bug report! Can you create a reproducible example of this happening that I can look it? I have some ideas of what might be happening, but it'll be a lot easier to fix if I have a reproducible example.

[2020-08-06 14:52] ivoiv commented on #559
@Methuselah96
Here's a simple reproduction https://codesandbox.io/s/keen-rosalind-xt0mk

Things get really whacky in CodeSandBox.

Depending on when in the application lifetime I open the DevTools window, it produces different "log spam" in different order. Sometimes it spams out of the actions after i remount the component, sometimes it just does them double.

Also, this time it also appears that

[2020-08-06 23:53] Methuselah96 commented on #496
Turns out that that serializing `Map`s is not enabled by default. See the [`serialize` option](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#serialize) (set `options` to `true`) in order to enable serializing `Map`s for the Redux DevTools extension.

Let me know if that works for you. Closing for now.

[2020-08-06 23:53] #496 closed

[2020-08-07 03:37] Methuselah96 commented on #559
Turns out there was already an issue for this. Try out [this solution](https://github.com/reduxjs/redux-devtools/issues/304#issuecomment-251715413).

Closing for now because I believe this resolved. Let me know if that doesn't fix it.

[2020-08-07 07:23] steinarb commented on #496
Doesn't work for me, unfortunately, since I use @reactjs/toolkit to set up the store, and setting up redux-dev-tools is hidden inside @reactjs/toolkit.

[2020-08-07 08:05] Methuselah96 commented on #496
@steinarb You should be able to set it up in `configureStore.devTools` like so:

[code]

[2020-08-07 08:09] steinarb commented on #496
I was able to set serialize using  devTools parameter to configureStore, like so:
[code]

Well, maps looks different than before... (we create a new version of our application each year and in the 2019 version Map still showed up in redux toolkit).

The old way was to show map as an object containin an array of two element arrays.

The new way is to show Map as "> Iterable" and when you click on t

[2020-08-07 09:21] ivoiv commented on #559
@Methuselah96 It solves the dispatch repeating problem, but then introduces a new one - It no longer shows the dispatch log/history.

Or rather, it either shows them for a second and then they get deleted from the list, or they get removed when the reducer is removed.

While better than repeating reducers, it certainly diminishes the usefulness of DevTools.

In CodeSandbox
![reducerCodesandbox](ht

[2020-08-07 12:47] Methuselah96 commented on #559
@ivoiv Part of the problem is that your reducers have side effects. Redux considers it essential that [reducers do not have side effects](https://redux.js.org/style-guide/style-guide#reducers-must-not-have-side-effects).

[2020-08-07 13:28] ivoiv commented on #559
@Methuselah96 The side effect(console.log) is just for the purpose of debugging the example.

Even without it, in the CodeSandBox example, DevTools actually replays the dispatches and changes the value of `someValue` with every re-insert of the reducer.
While the `shouldHotReload: false` fix does alleviate the problem, it does mess up the log/history functionality of DevTools.

[2020-08-12 22:04] KristofaJosh commented on #316
This worked for me

[2020-08-14 08:47] akx opened #587 "react-json-tree dependency woes"
Following up on #490.

`react-json-tree` has a dependency on https://github.com/alexkuz/react-base16-styling:

 https://github.com/reduxjs/redux-devtools/blob/85a36e3f001cd7fa8b3b5c85a0008c81f39c5d28/packages/react-json-tree/package.json#L62

However, as reported in alexkuz/react-base16-styling#2, it's packaged in a way that it implicitly depends on babel-runtime, which means software using the ne

[2020-08-14 10:06] geekyed opened #588 "Possible line endings issue"
When running `yarn redux-devtools` on macOS I get the following error:

A quick search indicates a line endings issue, not sure how its been introduced, but was ok in previous 0.0.1-1 version.

[2020-08-14 14:50] Methuselah96 commented on #587
I just did a publish (including `react-base16-styling`). Let me know if that fixes your issue.

[2020-08-14 18:00] Methuselah96 commented on #588
I just published a new version. Let me know if that works for you.

[2020-08-15 14:46] Methuselah96 commented on #412
@alexkuz Can we move `react-dock` here as well? It has some React 16 deprecation warnings that it would be great to resolve. Thanks!

[2020-08-15 16:19] alexkuz commented on #412
@Methuselah96 sure, you should have your access now.

[2020-08-18 09:54] kuosman opened #595 "react-dock: Resize: handle touch devices with touch events."
Hi, Can you add this feature: https://github.com/alexkuz/react-dock/pull/27

[2020-08-18 13:32] Methuselah96 commented on #595
Yeah, if @ArthurMaroulier is still around he can create a PR or you can go ahead and do it yourself since it doesn't look like he's active anymore.

[2020-08-18 14:03] Methuselah96 commented on #478
I have been able to reproduce an example of this, but it might not be the same exact issue. I'll look into fixing the example that I have.

[2020-08-18 19:02] kuosman commented on #595
Hi, ok. I created PR: https://github.com/reduxjs/redux-devtools/pull/596

[2020-08-19 14:14] #595 closed

[2020-08-20 01:43] MichaelMarner opened #599 "devtools-cli does not respect hostname and port settings"
It appears as though devtools-cli does not use hostname and port settings specified on the command line. This is causing problems when trying to migrate from the old `remotedev` to `devtools-cli`, as it is not possible to connect to a local server.

## Steps to reproduce

1. Run devtools-cli with hostname and port settings specified:

[code]

## Expected behaviour

Devtools will be running and con

[2020-08-20 03:54] Methuselah96 commented on #599
Thanks for the issue, although as noted [here](https://github.com/MichaelMarner/dart-redux-remote-devtools/pull/30#issuecomment-676957519), I see this more as a feature request than a bug. Regardless, I'll look into making it so that the Electron app automatically connects if the hostname and port are specified on the command line.

[2020-08-20 05:07] MichaelMarner commented on #599
Hey @Methuselah96, thanks for the further info. Really I just want to make sure I get the documentation right for users of my project.

Just to clarify, doing the following:

[code]

and opening http://localhost:8000, also does not connect to the locally running server. You still need to go to settings and switch from remotedev.io to local server. This is not the behaviour or the old `remotedev`,

[2020-08-24 23:21] tcelestino opened #608 "Shift + : opening Chrome devtools settings on Ubuntu 19.04"
Using Redux Dev Tools in Chrome dev tools on Ubuntu, when I'll use keys "Shift + :" to set ":" in "Dispatcher", it is opening dev tools settings.

I recorded the behavior:

![Peek 2020-08-21 16-10](https://user-images.githubusercontent.com/190265/91080368-d1684b00-e61b-11ea-9519-fcdc68fcd232.gif)

[2020-08-26 06:11] brunolemos commented on #529
Adding `max-height: calc(100vh - 2*37px);` to [this component ](https://github.com/reduxjs/redux-devtools/blob/10bf7bc08450fec1b484583f8398ef34bdd9b9b8/packages/redux-devtools-inspector/src/DevtoolsInspector.js#L240) is a temporary workaround.

[2020-08-28 21:11] Methuselah96 commented on #559
Turns out that https://github.com/reduxjs/redux-devtools/issues/378 is the original issue where this is brought up. Closing this in favor of that one.

[2020-08-28 21:11] #559 closed

[2020-08-28 21:11] Methuselah96 commented on #378
See more details in this issue: https://github.com/reduxjs/redux-devtools/issues/559.

[2020-09-01 08:00] savelichalex commented on #506
@timdorr not exactly. For example it won't work with [react-navigation](https://reactnavigation.org) because of [this](https://github.com/react-navigation/react-navigation/blob/main/packages/devtools/src/useReduxDevToolsExtension.tsx#L33), as `react-navigation` doesn't have explicit store to apply middleware (actually no redux store at all, but they send compatible events to devtools).

[2020-09-01 08:38] Sawtaytoes commented on #366
I have a solution for this problem, but it requires Redux itself fixing the issue. I don't see how Redux-Devtools can remove a listener from Redux without Redux first telling it to do so.

You can view my solution in this GitHub issue:
https://github.com/reduxjs/redux/issues/3871

[2020-09-01 09:14] Sawtaytoes commented on #366
I don't know if you've tried this, but I was able to successfully call `window.__REDUX_DEVTOOLS_EXTENSION__.disconnect()` to remove the Redux store from Redux-Devtools. Is that the functionality you were looking for?

[2020-09-02 13:00] wms opened #625 "Data is mutated during stringification"
See https://github.com/reduxjs/redux-devtools/blob/c7b0c7aa6e09f46a36b382ae3ec8e38bd48aeb28/packages/redux-devtools-core/src/app/utils/stringifyJSON.js#L7

Sadly, it would seem the original author has passed away or has otherwise checked out of the project, so I won't labour the point, but this is pretty poor form. This mutation causes the `__serializedType__` annotation to be unusable for correct

[2020-09-03 06:58] wms commented on #625
This thread contains a minimal reproduction - https://github.com/zalmoxisus/redux-devtools-extension/issues/737

[2020-09-04 22:28] #625 closed

[2020-09-07 14:35] ukch opened #630 "react-dock: componentWillReceiveProps with react 16.9.0"
Ref: alexkuz/react-dock#40

For quite some time, React has been throwing up a warning about this component using the deprecated `componentWillReceiveProps` interface. The simplest solution here is to do a find-replace and use `UNSAFE_componentWillReceiveProps` instead. Alternatively, you could refactor the component to use `getDerivedStateFromProps` instead.

Here's the full warning from React:

[2020-09-07 16:50] Methuselah96 commented on #630
I resolved this in [the PR that added this package](https://github.com/reduxjs/redux-devtools/pull/590). This issue should be resolved in `react-dock@0.3.0`, which I released just now. Let me know if that doesn't resolve your issue.

[2020-09-07 16:50] #630 closed

[2020-09-08 10:27] ukch commented on #630
Thanks @Methuselah96 . I can confirm the issue appears to be fixed in the new version.

[2020-09-16 07:15] BrunoFenzl opened #635 "React-json-tree: Update UNSAFE_componentWillReceiveProps lifecycle hook."
I could not find any related issues, so please forgive me if this was already addressed somewhere.
React throws following warning when using `react-json-tree`:

[code]

I believe I could fix this and update those components. Is this in your roadmap?

[2020-09-16 07:26] BrunoFenzl opened #636 "React-json-tree: Add callback when expanding/closing node."
As far as I could see, there is no way of responding to a click on a node in the tree. I need to get the `keypath` property corresponding the node I clicked on. Currently I'm hijacking `valueRender` to get this value, but of course this also get called, at least for the root node when re-rendering the component.

Is there any interest in this feature? I badly need this feature and could merge make

[2020-09-16 13:19] Methuselah96 commented on #635
What version of `react-json-tree` are you using? It should be fixed in [`react-json-tree@0.12.0`](https://github.com/reduxjs/redux-devtools/releases/tag/react-json-tree%400.12.0).

[2020-09-16 13:22] Methuselah96 commented on #636
Yeah, that sounds like a valuable feature. Feel free to make a PR.

[2020-09-16 14:26] BrunoFenzl commented on #635
I'm using version 0.13.0. The PR #483 just updates the deprecation messages using `UNSAFE_componentWillReceiveProps` instead of implementing `getDerivedStateFromProps`. I propose updating those comps with the new static method.

[2020-09-16 14:30] BrunoFenzl commented on #636
Nice, will do.

[2020-09-16 14:31] Methuselah96 commented on #635
Oh, I see, sorry, I read it the issue too fast. Yeah, it's worth fixing, so PRs are welcome. Eventually I will get to it myself, but it's not the highest priority right now.

[2020-09-23 13:21] bhatvikrant opened #643 ""redux-devtools-extension" gets laggy and eventually crashes when I try to open it."
As soon as I click on the redux dev tools extension in chrome & firefox after some actions are dispatched the extension becomes unresponsive and the browser window freezes.

I checked out issue #347 and tried to find how to set maxAge, but was unable to find how to set maxAge for [`redux-devtools-extension`](https://github.com/zalmoxisus/redux-devtools-extension#13-use-redux-devtools-extension-pac

[2020-09-23 13:58] Methuselah96 commented on #643
If you're using the extension, then the issue is most likely [the amount of data that has to be serialized](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/Troubleshooting.md#excessive-use-of-memory-and-cpu). Do you have a lot of data in your store?

One option to fix that would be to [manually integrate redux-devtools as a component](https://github.com/reduxjs/redux-devtoo

[2020-09-23 17:22] bhatvikrant commented on #643
@Methuselah96 yes, I do have quite some data in my store.
Is it worth adding redux as a component? I mean I just use redux dev tools for development and not in production

[2020-09-23 18:03] Methuselah96 commented on #643
@bhatvikrant It's up to you, but there is a way to [exclude it from your production build](https://github.com/reduxjs/redux-devtools/blob/master/docs/Walkthrough.md#exclude-devtools-from-production-builds).

[2020-09-23 18:04] bhatvikrant commented on #643
Okay, thanks for the help! @Methuselah96

[2020-09-23 18:04] Methuselah96 commented on #643
No problem!

[2020-09-23 18:04] #643 closed

[2020-09-23 19:47] BrunoFenzl commented on #636
Hi @Methuselah96 .

I'm having a hard time trying to get my environment right. It seems I have all sorts of version mismatches and missing deps. Is there a guide on how to contribute and system requirements anywhere? I tried on two machines with node 12.5 and 14.12.
Thanks in advance!

[2020-09-23 19:49] Methuselah96 commented on #636
Are you using Yarn? The monorepo uses Yarn workspaces, so it won't work with npm.

[2020-09-23 20:02] BrunoFenzl commented on #636
Thanks for the fast response and clarifying this. I have yarn installed but thought it would just execute the commands regardless of how I installed dependencies. I use npm on my projects so I installed everything with `npm -i` as usual. I just learned something new.

It would be really nice to have this in the readme.

[2020-09-23 20:55] Methuselah96 commented on #636
@BrunoFenzl Glad it worked out. Sorry about the lack of developer documentation, still just trying to clean things up. Feel free to ask if you have any other questions.

[2020-09-25 17:24] ImTheKindJoaco commented on #233
Hey sorry for this because I know this is will be probably a really dumb question but where do I have to change this? I'm having the same issue while learning react and I am stuck with this issue. Again sorry and Thanks in advance

[2020-09-25 17:28] Methuselah96 commented on #233
@ImTheKindJoaco Can you share some code of how you're setting up your Redux store?

[2020-09-25 17:37] ImTheKindJoaco commented on #233
@Methuselah96  Pretty sure I'm not using Redux this is my code

GithubState.js
`import React, { useReducer } from "react";
import axios from "axios";
import GithubContext from "./githubContext";
import GithubReducer from "./githubReducer";
import {
  SEARCH_USER,
  SET_LOADING,
  CLEAR_SEARCH,
  GET_ONE_USER,
  GET_USER_REPOS,
  SEARCH_USERS,
} from "../types";

const GithubState = (props) => {

[2020-09-25 17:40] Methuselah96 commented on #233
@ImTheKindJoaco And can you post your exact error message?

[2020-09-25 17:44] ImTheKindJoaco commented on #233
![image](https://user-images.githubusercontent.com/66880233/94299138-9ff5de80-ff3d-11ea-8525-44cb56512d8c.png)

[2020-09-25 17:50] Methuselah96 commented on #233
@ImTheKindJoaco It looks like you're using `useReducer` incorrectly based on [the docs](https://reactjs.org/docs/hooks-reference.html#usereducer). I'm not sure what `GithubContext` is, but `GithubReducer` should be the first argument passed into `useReducer`.

[2020-09-25 17:53] ImTheKindJoaco commented on #233
@Methuselah96 It was just that, I needed to pass GithubReducer first, you are awesome, thanks a lot now I can keep on coding.

Again, thanks for the help, you kind stranger^^

[2020-09-28 23:22] vaske opened #645 "Import state crashed"
When I do an export of my app state and right after that I tried to import it fails with error Maximum call stack size exceeded, my state is way big like 14k lines in raw, I tried the same with reset of my state and in that case, it works well. This drives me a bit crazy because it seems it's data related, but then how export works smoothly and why state works without any issue?

What would be the

[2020-09-29 00:17] Methuselah96 commented on #645
If you want you could make a Gist with your state is and post it here and I could figure out what the issue. Or send it to nbierema@gmail.com if its confidential.

If neither of those options work for you, you could try looking into the [`redux-devtools-serialize`](https://github.com/reduxjs/redux-devtools/tree/master/packages/redux-devtools-serialize) package to see if it's an issue with deserial

[2020-09-29 09:31] vaske commented on #645
I also get

[code]

basically those 2 errors

![image](https://user-images.githubusercontent.com/56588/94540999-5cee8080-0247-11eb-9216-b25a1b3bcfad.png)

[2020-09-29 17:28] Methuselah96 commented on #645
@vaske `i.match` is an error being thrown by your reducer. When you import state, Redux DevTools "re-dispatches" all of your actions. This most likely means you Redux store is not [free from side-effects](https://redux.js.org/style-guide/style-guide#reducers-must-not-have-side-effects).

[2020-09-29 19:32] Methuselah96 commented on #645
You should be able to just open the Chrome DevTools and turn on "pause on exceptions" and see the error is being thrown from. It also looks like you're code is running a production build, so if switch to a development, the error should be easier to read since the variable names won't be obfuscated.

[2020-09-29 22:07] vaske commented on #645
@Methuselah96 Could you please give more context about this pause on error thingy I'm sure that I miss something because I can't see any error nor been able to stop on error and find where it has been introduced

[2020-09-30 13:17] vaske commented on #645
this `i.match` occurs from redux-devtools-core/src/utils/filters.js function is filtered because type is '' object passed there is {type: ''}

[2020-09-30 13:21] Methuselah96 commented on #645
Wouldn't it sill work if it was an empty string though? `''.match()` is a function right? When I import your exported into Redux DevTools it doesn't throw any errors, so that's why I was assuming it was something in your code.

[2020-09-30 13:25] vaske commented on #645
yeah, I do not get an error when I import it to redux without my main code, but in such case I tried to listen to pause on exception and that is what I see. However, debugging my end, seems like something is broken on my redux store

[2020-10-05 21:21] edoardolincetto commented on #530
Hey @Methuselah96, tasks here in the roadmap are pretty easy. I think that it could be interesting to add the `hacktoberfest` topic to the repo, just to get some help from contributors who are searching for a project!

[2020-10-06 14:25] Methuselah96 commented on #530
@edoardolincetto Thanks, but I think I'm more in favor of contributions that form organically from a developer needing a feature or a bug-fix instead of people just hunting around for open-source projects to work on.

Also, while the tasks on the roadmap might be easy, I would prefer to work on them myself since it's helping me gain familiarity with the code-base. Since I'm currently the sole main

[2020-10-06 16:54] Methuselah96 commented on #530
I am willing to add a `hacktoberfest-accepted` label to a PR if someone submits a PR that they want to get Hacktoberfest credit for. Just note that on the PR.

[2020-10-08 13:24] Methuselah96 commented on #645
@vaske Have you been able to figure out the issue? I'm going to close this since I think the issue is with your code, but let me know if you have any more questions.

[2020-10-08 13:24] #645 closed

[2020-10-12 12:07] bakajvo commented on #360
Same with Error instance :(

[2020-10-13 14:10] guptshruti2003 opened #653 "react-dock how to include tsx and ts file in react"
I'm unable to implement this dock in my react app . autoprefix file  not taking in dock.tsx . I'm calling dock in main.js

[2020-10-13 14:26] Methuselah96 commented on #653
Can you post the code that's not working where you're trying to use it?

[2020-10-25 19:47] #653 closed

[2020-10-28 12:16] avovnenko commented on #478
Have same issue. Any thoughts?

[2020-10-28 14:17] paztis opened #659 "react-json-tree NodeType definition"
Currently NodeType is only defined as a String
It can be great to have a constants / enum definition to avoid to hardcode their usage in our project, like this:

[code]

I found these list of names by searching in your source code. even not sure I've found all the cases

[2020-10-28 14:48] Methuselah96 commented on #478
@avovnenko What's your setup? Webpack? What kind of source mapping are you using?

[2020-10-28 15:50] Methuselah96 commented on #412
Closing since all of the packages mentioned have been moved here. See https://github.com/reduxjs/redux-devtools/issues/530 for future plans.

[2020-10-28 15:50] #412 closed

[2020-10-28 15:55] Methuselah96 commented on #659
Yeah, I've definitely planned on doing this. I've been focusing on more of a breadth-first approach to working on the packages in this monorepo and so I haven't gotten around to doing this yet. See https://github.com/reduxjs/redux-devtools/issues/530 for my immediate goals.

Feel free to make a PR for this yourself. If you don't make a PR, I'll get to it eventually, but it's not high on the list o

[2020-10-28 19:37] paztis commented on #659
You're true
One advantage of the enum is you can ensure you will never pass a value not
allowed.
But a type alias like
type TNodeType = 'String' | 'Number' | ...
Is also a correct solution that can be extend and prevent the bad cases

Le mer. 28 oct. 2020 à 16:56, Nathan Bierema <notifications@github.com> a
écrit :

[2020-11-09 08:11] raybooysen opened #663 "Permissions requiring all_urls"
Hi all

We are trying to onboard redux-devtools into our large organisation and our security team has flagged this extension as requesting [all_urls](https://github.com/reduxjs/redux-devtools/blob/master/extension/src/browser/extension/manifest.json#L68) as a security risk.

I compared this to the [react dev tools](https://github.com/facebook/react/blob/master/packages/react-devtools-extensions/ch

[2020-11-10 01:42] raybooysen commented on #663
I've clarified with our security folks and their concern is around the possibility of ftp as an allowable URL (incorrect or not, this is the blocker I face to use this dev tool internally).

[2020-11-10 17:23] kaiyoma opened #664 "yarn install warnings when installing redux-devtools-cli"
These warnings about peer dependencies seem to be issues with the internal package structure, not with my package.json:

[code]

[2020-11-12 09:03] sicLotus opened #665 "Wrong order of dispatched actions?"
Hi! I'm still pretty new to the Redux world and have encountered the following problem:

My actions are logged in the DevTools in the wrong order (at least in my understanding).

I dispatch an action "A" from the UI. This action is handled by a custom middleware. There I dispatch a second action "B", which is then handled by the reducer.

The DevTools logs first the action B and then the action A.

[2020-11-12 15:41] Methuselah96 commented on #663
@raybooysen Yeah, PRs are welcome for that change.

[2020-11-12 15:52] Methuselah96 commented on #665
Is the custom middleware asynchronous for action "A"?

[2020-11-12 16:48] #664 closed

[2020-11-13 07:15] Saul-Mirone opened #667 "redux-devtools-cli audit error"
[code]

[2020-11-14 22:42] olegKusov opened #668 "Make UI better"
![Group 3](https://user-images.githubusercontent.com/28058268/99158495-5f684500-26e4-11eb-81a6-d8d119069dc1.png)

[2020-11-17 11:13] damo78 opened #678 "Big Sur Safari WebExtensions API support"
This is just a question so hope it is okay to post here.

I've noticed that in Apple's Big Sur release they've added WebExtensions API support to Safari and suggested for developers it's an easy port.  Is there a chance of having a Redux Dev Tools extension in Safari now?

[2020-11-17 14:17] Methuselah96 commented on #678
Yeah, it sounds like it should be possible. I'll plan to include a Safari extension release for 3.0 if it truly is an easy port.

[2020-11-17 23:11] #663 closed

[2020-11-20 02:39] jonahlibrach commented on #530
If a dispatched action causes an error, it doesn't show up in the log.
Is it possible to make it show the action anyways?

[2020-11-20 04:17] Methuselah96 commented on #530
@jonahlibrach That sounds possible, but I'd have to look into it some more. Can you create a separate issue for that feature request?

[2020-11-20 04:51] jonahlibrach opened #681 "Can't figure out which action caused an error with devtools"
Devtools log does not show the last action dispatched if it caused an error, can we

- [ ] Display this action (so we can see what was dispatched)
- [ ] Display the error message
- [ ] Color the text salmon to communicate that the action caused an an error?

I haven't looked at the code, but I wonder if a simple hack of throwing `next` into a try-catch and displaying on logger in the catch (with t

[2020-11-20 04:57] jonahlibrach opened #682 "Spawn a debugger session from a specific point in the timeline"
It would be incredibly useful if we could spawn a debugger session like `chrome://inspect` from a specific point in the timeline to figure out why we're getting unexpected state changes.

Otherwise, we need to re-run the program (CLI) with debugger enabled every time we get a bug we don't understand by looking at our code.

To me this happens quite frequently.

[2020-11-20 05:02] jonahlibrach commented on #530
@Methuselah96 https://github.com/reduxjs/redux-devtools/issues/681

[2020-11-21 00:54] raybooysen commented on #663
Thanks @Methuselah96 .  Would it be possible to do a release with this change so we can integrate this into our org?

[2020-11-29 16:07] christophemenager commented on #506
@savelichalex is correct, react-navigation does not work with the current redux-flipper.
However, this project could use some help to fix this : https://github.com/jk-gan/redux-flipper/issues/38

[2020-12-03 15:02] chriswoodley opened #684 "Why is the JSONTree data property a required property?"
I am using the `JSONTree` component in my project and I noticed when the `data` property is `undefined` it displays `undefined` in the output and at the same time I get the following console warning:

[code]

This does not break the application and it properly displays `undefined`, However it causes unit tests to fail whenever this warning occurs. What is the intended behavior when the `data` prop

[2020-12-03 15:10] Methuselah96 commented on #684
Interesting, I would have expected if you explicitly passed `undefined` in as a prop that it wouldn't give the prop type warning. Can you make a PR to remove the `.isReuquired` from [the `data` prop type](https://github.com/reduxjs/redux-devtools/blob/master/packages/react-json-tree/src/index.tsx#L107)? Thanks!

[2020-12-03 20:23] chriswoodley commented on #684
PR has been created. See https://github.com/reduxjs/redux-devtools/pull/685/files

[2020-12-03 21:36] #684 closed

[2020-12-06 22:41] zsajjad opened #686 "More inclusive API"
First of all; Thanks a lot to all the contributors for maintaining such an amazing tool. You're definitely making our lives much much easier.

While working on our recent blog post about Redux DevTool, I realized that parameters like actionWhitelist & actionBlacklist are not inclusive. Can we move it to allowList & blockList just to be more inclusive?

I think this will be a good contribution to t

[2020-12-06 22:46] zsajjad commented on #530
@Methuselah96 #686

[2020-12-13 23:08] michaeljohansen opened #687 "Assumes Immutable is imported"
I believe the new build of Redux DevTools Inspector on NPM assumes that Immutable is imported?

[code]

[2020-12-14 14:22] dospolov commented on #668
although I find this issue description is harsh and I really appreciate maintainers work - I must agree that UX could be improved by collapsing spaces, padding, and by rearranging components

[2020-12-20 20:08] Akxe commented on #686
Why? Does this bring peace to someone? This is possibly breaking with little to no benefit.

[2020-12-20 20:10] Akxe commented on #665
If action A triggered action B then B finished before A, since A had to wait for B to finish, to be able to finish its callback...

[2020-12-21 02:41] Methuselah96 commented on #665
Closing pending response from author.

[2020-12-21 02:41] #665 closed

[2021-01-14 07:41] kaushalyap opened #696 "Unchecked runtime.lastError: "sync" is not available in this instance of Chrome"
I am using redux-devtools with electron using https://github.com/MarshallOfSound/electron-devtools-installer
But in console I am getting following, error goes away when I remove redux-devtools

[code]

[2021-01-15 02:28] travrob1 opened #697 "Feature: Copy data displayed in tree node."
I have some redux stores with massive amounts of data.  I am able to find the data i need easy enough via the tree view with collapsing and expanding the tree nodes.  However, once i have found what i want, i can NOT easily 'copy' that data.  If i want to copy, then i need to go into the raw view, but due to the amount of data it becomes a real challenge to find that data i want.  I have learned t

[2021-01-15 03:21] markerikson commented on #697
Totally agree that would be useful, or possibly a right-click "Copy" context menu.

Would love to see a PR for this!

[2021-01-15 03:55] Methuselah96 commented on #697
Definitely sounds useful. PRs are welcome.

[2021-01-15 04:01] Methuselah96 commented on #696
Looks like there is also an issue for this on the `electron-devtools-installer` repo as well: https://github.com/MarshallOfSound/electron-devtools-installer/issues/160.

[2021-01-15 05:32] kaushalyap commented on #696
@Methuselah96 But I think issue is in this extension since react dev tools works fine.

[2021-01-15 14:08] Methuselah96 commented on #696
@kaushalyap Yeah, that's quite possible, I was just linking to the other issue so that there's discoverability between the two issues.

[2021-01-21 18:59] medihack opened #698 "Incorrect peer dependency with React 17.0.1"
I added `redux-devtools` with `yarn add --dev redux-devtools` and get this warning now:

    redux-devtools@3.7.0" has incorrect peer dependency "react@^0.14.9 || ^15.3.0 || ^16.0.0".

I know, most likely I can just ignore it. But if it really supports React 17 (in my case v17.0.1) it would be nice to just go away ;-)

[2021-01-29 09:57] rendomnet commented on #529
same here. How can we fix it?

[2021-01-29 10:25] rendomnet opened #699 "UI is extremely buggy"
i'm using latest version and UI is super bad.
`redux-devtools --open`

1. the themes selector is transparent and cant be clicked
![image](https://user-images.githubusercontent.com/18900210/106263171-3b7dbf80-624e-11eb-8b0b-06feca704e03.png)

2. I cant see latest action because it is out of scroller area.
![image](https://user-images.githubusercontent.com/18900210/106269469-bcd95000-6256-11eb-99b5-

[2021-01-29 14:15] Methuselah96 commented on #699
Thank you for the issue! The `redux-devtools-cli` package is not stable yet (its version is `1.0.0-4`). If you would like a stable package, try using [`remotedev-server`](https://github.com/zalmoxisus/remotedev-server) until this package stabilizes.

[2021-01-29 14:25] Methuselah96 commented on #529
There is a UI redesign in progress, so unfortunately I don't think this will get fixed on the old version. Users will just have to use the new UI once it's stable if they don't want to experience this bug.

[2021-01-31 05:25] rendomnet commented on #699
@Methuselah96 but why closing this issue?
Maybe close it when issue will be resolved?

Other people will know that current version have problem.

[2021-02-04 09:47] orszaczky commented on #504
is there a way to turn off this autoselect feature? it's super annoying, every time it auto selects some totally irrelevant state instead of the currently open page. not even sure where this whole list of other states come from...

[2021-02-05 07:46] kundan821115 commented on #233
@Methuselah96 I was also facing similar issue and it got resolved. Thanks to you man!

[2021-02-06 07:06] orszaczky opened #700 "Autoselect feature broken?"
is there a way to turn off autoselect or somehow lock the plugin on a specific instance?

the plugin creates multiple (20-30) instances with my app's name, most of them only containing a state like this:
[code]
then on every reload it autoselects one of these, and then try to find the actual instance with the real state between 20-30 identically named instances in the dropdown.

this makes the plu

[2021-02-06 14:24] Methuselah96 commented on #700
I don't think there have been any changes recently that would lead to this sort of behavior. Are you sure these stores don't actually exist? If you could provide a reproducible case, that would be great. Otherwise, I'm not sure how to go about investigating this.

[2021-02-08 17:52] kaiyoma opened #701 "Missing peer dependency (immutable@^4.0.0-rc.12)"
When I install redux-devtools-cli through yarn, I get this warning:

[code]

[2021-02-08 20:24] Slapbox commented on #696
Seeing the same error. Oddly it's only in one of our windows, and even more oddly the devtools seem to work fine.

[2021-02-12 00:04] markwoon commented on #698
+1

Would also like to see `react-json-tree`'s peer dependency updated as well.

[2021-02-17 19:54] #504 closed

[2021-02-28 04:14] sonialiang commented on #697
Hello, I am new to this project.
Recently, I changed my job and start learning React&Redux and learning how-to develop browser extension.
(I have experiences with Vue.js. But, actually I was mainly a backend developer using ruby and PHP.)
I don't have react experienced colleagues, so I think this project is awesome to me to dive deep.

In brief, I tried to work on it and looks it works.

![redux-d

[2021-02-28 04:34] markerikson commented on #697
Hey there, thanks for taking a look at this!

While I'm not the maintainer for the DevTools, I do maintain Redux itself.  My suggestion would be to go ahead and put together a complete prototype, and I do think having a context menu pop up when clicking a state item would be the right design choice.

For now, I'd say just pick what you think is the best place for any new files to go, and then file

[2021-03-06 10:38] veeramarni commented on #698
Any update on it?

[2021-03-06 15:31] #698 closed

[2021-03-08 03:43] yqrashawn opened #705 "@redux-devtools/cli is broken, Cannot find module '../dist/bin/redux-devtools.js'"
there's no `bin` folder in `dist`
[code]
![image](https://user-images.githubusercontent.com/15090582/110271556-483ac380-8003-11eb-9055-579eef146610.png)

[2021-03-22 14:42] SzaboKrisztian opened #706 "GET error when trying to see trace"
I am working with React Native, Expo, Redux Toolkit, and the standalone React Native Debugger. Everything works fine, as far as the debugger is concerned, except for the Trace tab. Whenever I click any of the actions, while on this tab, I get a 500 Internal Server Error in the console

![image](https://user-images.githubusercontent.com/13181022/112007082-a0ee7e00-8b24-11eb-89f5-c2b485d38bdb.png)

[2021-03-22 15:10] Methuselah96 commented on #706
If you could provide a way to reproduce the issue, that would be the most helpful. Thanks!

[2021-03-27 01:12] garycourt commented on #461
I ran into this same issue. This is because redux-devtools is using [JSS](https://cssinjs.org/) for styling, which always attaches it's CSS to the global window object (and not the popups window object)

The workaround that worked for me was to copy the CSS generated by the component (after it was rendered) into the DOM of the popup.

[code]

[2021-03-31 03:53] Uhucream commented on #678
According to [Apple's document](https://developer.apple.com/documentation/safariservices/safari_web_extensions/assessing_your_safari_web_extension_s_browser_compatibility), Safari 14 doesn't correspond to devtools.

So I think it is impossible.

[2021-03-31 18:12] apperside commented on #705
The same here, 824 packages where installed, but not what's really needed 😅
<img width="985" alt="Screenshot 2021-03-31 at 20 10 23" src="https://user-images.githubusercontent.com/5955338/113191042-5f18b280-925d-11eb-90fa-b04907abcf09.png">

[2021-04-06 19:24] #705 closed

[2021-04-15 01:04] david-shortman opened #708 "API for retrieving extension open status"
`autoPause` prevents the redux devtools extension from doing tracking work.

But this doesn't prevent tools that integrate with the devtools from doing work to prepare and send some state to the devtools.

The devtools should expose some API that allows an integrating tool to query the status of the extension. Then those tools can avoid executing unnecessary code when the extension is closed.

Thi

[2021-04-22 15:15] geekyed commented on #588
It did thanks!

[2021-04-24 17:50] BenLorantfy commented on #378
@Methuselah96 would you accept a PR to fix this?

[2021-04-24 18:12] markerikson commented on #378
My half-informed suspicion is that there might _not_ be a feasible resolution, because the DevTools relies on replaying actions to show the state at that point in time. If a reducer gets swapped out _now_, running the "old" actions through it would presumably result in states that don't match what the state _was_ when the original dispatches happened.  Happy to be proven wrong here, but that's my

[2021-04-25 04:06] bdwain commented on #378
One option to improve it would be to store old reducers as well as the current one, so that when replaying actions, it uses the reducer that was current at that time.

Another would be to show the action history but disable replayability before the last call to replaceReducers.

I think both of those would be an improvement over the current behavior. Thoughts?

[2021-04-25 16:07] markerikson commented on #378
Hmm. That _could_ hypothetically work, although there'd have to be bookkeeping to know which actions were dispatched when a given reducer was in use.

[2021-04-27 11:15] dzienisz opened #710 "Link to old repo"
Hi why we link in this repo to this old repo

https://github.com/zalmoxisus/redux-devtools-extension#installation?

why this instructions aren't moved to this repo?

[2021-04-27 11:27] dzienisz commented on #412
how to instal `redux-devtools-extension` `v2.17.1`?

[2021-04-27 15:40] Methuselah96 commented on #710
The instructions have been moved to this repo: https://github.com/reduxjs/redux-devtools/tree/master/extension#installation.

Is there a specific link that needs to be updated? This repo is still in a state of transition, but I'll hopefully have more time in the coming months to finish the transition.

[2021-04-30 14:01] zhuhaow commented on #696
I located the error at https://github.com/reduxjs/redux-devtools/blob/a094e3b42cdeab75eb5fdbe56e6b7ad784c01ab3/extension/src/browser/extension/options/syncOptions.js#L32-L56

I notice the extension is polyfilling the `chrome.storage.sync` for electron. I wonder if this error is because of the code here https://github.com/reduxjs/redux-devtools/blob/a094e3b42cdeab75eb5fdbe56e6b7ad784c01ab3/extensio

[2021-04-30 14:32] zhuhaow commented on #696
Create #711 for this.

[2021-05-02 17:15] cvlmtg opened #712 "redux-devtools-extension: time travel sends wrong state"
Hi, I'm trying to integrate my store (which uses immutable.js for its state) with redux-devtools using this api:

[code]

If I send some actions to the devtools and then jump back and forward with the extension console, after 3 or 4 jumps the state sent to the subscribe listener is wrong, as you can see below here:

[code]

as you can see in the last line, the serialized json isn't complete, it la

[2021-05-04 17:28] MarkoCen opened #713 "Chrome web store link is broken"
[Chrome](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en)

![image](https://user-images.githubusercontent.com/8303274/117044609-a1aa3080-acdc-11eb-8650-b9b6141320cd.png)

[2021-05-04 17:38] markerikson commented on #713
Yes, Google decided to take down the Redux DevTools Extension:

https://twitter.com/timdorr/status/1389553537659588608

We've submitted a request to have that reviewed and hopefully resolved, but no ETA:

https://twitter.com/timdorr/status/1389587796810244117

[2021-05-04 19:22] Methuselah96 commented on #713
By the way, we might be able to back-port this PR if necessary to tighten the `<all_urls>`.

[2021-05-05 06:41] iamdipankarj commented on #713
Yup, cannot access the extension on webstore.

[2021-05-05 09:50] TehJudas commented on #713
Can't seem to install via  chrome://extensions with the .zip folder either, says it's missing the manifest file

[2021-05-05 13:16] Methuselah96 commented on #713
If you want to install via the zip folder, try 2.17.0. The zip folder for 2.17.1 is for Firefox. Alternatively you can just replace the manifest file with the correct one which can be found [here](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/manifest.json). That's the only difference between the Firefox and Chrome builds.

[2021-05-05 13:36] TehJudas commented on #713
Working with the 2.17.0, thank you!

[2021-05-05 18:00] timdorr commented on #713
Google gave us an exemption and we're back on the store. https://twitter.com/timdorr/status/1389995877989851143

I'm looking to resolve the issue (extraneous `tabs` permission) and will publish a 2.17.1 soon to make sure we don't get taken down again.

[2021-05-05 18:00] #713 closed

[2021-05-05 18:02] timdorr commented on #710
I've updated the URL for the next published version.

[2021-05-05 18:02] #710 closed

[2021-05-10 23:27] zhuhaow commented on #696
@Methuselah96 Can you take a look?

[2021-05-10 23:58] Methuselah96 commented on #696
Yeah, it's on my list to review. Looks good from a glance, just want to double-check the context.

[2021-05-12 03:47] web-surfer commented on #380
Still an issue on Firefox.

[2021-05-17 15:02] lukaskleinhaneveld opened #715 "Saving a 'view'/configuration"
I don't know if this is possible yet, but I feel like it would be useful to be able to save a configuration/view.

By that I mean:
Right now I have to re-filter on a specific action, that head to 'changes' and pin a certain state. After that I have to click on the 'state' tab in the top right.

I think it would be useful to save a specific view or state or action for example.

[2021-05-17 15:03] #696 closed

[2021-05-20 05:44] #708 closed

[2021-05-20 05:44] david-shortman opened #716 "RFC: api to retrieve current extension status"
`autoPause` prevents the redux devtools extension from doing tracking work.

But this doesn't prevent tools that integrate with the devtools from doing work to prepare and send some state to the devtools.

The devtools should expose some API that allows an integrating tool to query the status of the extension. Then those tools can avoid executing unnecessary code when the extension is closed.

Thi

[2021-06-03 02:51] Methuselah96 commented on #699
@rendomnet Can you give me more details about what system you're on (OS and browser)? I'm not seeing the same issues with the UI as you are in your top screenshot.

[2021-06-03 03:39] rendomnet commented on #699
@Methuselah96 it was under Mac. I used it for electron debugging.

[2021-06-04 23:09] markerikson opened #717 "Suggestion: add filter to hide all "no-op" actions"
It's possible for actions to result in no state updates at all. Some actions are dispatched just as "signals" to middleware (common with sagas/observables). Others just get ignored by reducers.

It would be potentially useful to have a filtering option that hides actions that resulted in no state changes.

(suggested over in Reactiflux)

[2021-06-08 15:26] AveryTheDev opened #726 "react-json-tree: Render method of JSONNestedNode error"
I'm not certain why but I am getting the below error. This is happening within my app, but not in my Storybook.

[code]

My component here has all of the values coming in defined. What could be wrong with this component?

[code]

[2021-06-08 18:01] #726 closed

[2021-06-09 20:29] Methuselah96 commented on #701
Should be resolved in `@redux-devtools/cli@1.0.0-7`.

[2021-06-09 20:29] #701 closed

[2021-06-10 17:25] kaiyoma opened #727 "Getting peer dependency warnings when installing the latest version of @redux-devtools/cli"
There are new peer dependency warnings during the linking phase of `yarn install`:

[code]

This is happening with @redux-devtools/cli 1.0.0-7.

[2021-06-10 17:29] Methuselah96 commented on #727
Yeah, that's an unfortunate consequence of Lerna not bumping peer dependency versions and still being in the 0.x.y range of releases. I'll have to think about how best to address this. Probably bumping the inspector to 1.x.y makes the most sense.

[2021-06-11 02:16] #727 closed

[2021-06-11 02:21] Methuselah96 commented on #699
Resolved by https://github.com/reduxjs/redux-devtools/pull/709 and https://github.com/reduxjs/redux-devtools/pull/728.

@rendomnet Let me know if you run into any more bugs in the UI.

[2021-06-11 02:21] #699 closed

[2021-06-16 05:37] jjpepper opened #737 "Is there meant to be an image under the result headings on the readme page?"
I see the following:

![image](https://user-images.githubusercontent.com/10545251/122163525-eb736280-cea7-11eb-9006-55b7b6a1f8df.png)

[2021-06-22 07:44] FaberVitale commented on #717
I've looked a bit into it, it seems that the following predicate does the job.

[code]

Few doubts:

1. Figure out the UX
2. Is strict equality good enough? Should we use  `Object.is` instead?

[2021-06-22 10:15] BartusZak commented on #686
In my opinion an overkill.

[2021-06-22 20:01] juanger opened #751 "Namespaced modules break trace parser"
Feel free to close/move this as needed or let me know where I should move it.

The issue I'm experiencing is caused by name-spaced npm module names (with an `@` at the start) because the firefox RegExp seems to match them and cause the wrong parsing behavior to be applied.

https://github.com/reduxjs/redux-devtools/blob/a094e3b42cdeab75eb5fdbe56e6b7ad784c01ab3/packages/redux-devtools-inspector-mon

[2021-06-22 21:21] Methuselah96 commented on #751
Thanks for the issue, you're in the right place. :)

We actually copied `react-error-overlay` from `create-react-app`. Interestingly there haven't been any updates to [that line of code](https://github.com/facebook/create-react-app/blob/master/packages/react-error-overlay/src/utils/parser.js#L31) in CRA either. I'll add it to the backlog to look into.

[2021-06-26 21:11] nicewaytodoit opened #752 "After Chrome update DevTools not visible anymore"
I have updated to :
Google Chrome is up to date
Version 91.0.4472.114 (Official Build) (64-bit)

Now Redux - dev tools are not visible anymore, same goes for React Developer Tools :/

Redux-Dev tools Version 2.17.2

[2021-06-27 13:06] Methuselah96 commented on #752
Interesting. I'm on that version of Google Chrome and all seems fine for me. I assume you've tried uninstalling and re-installing the extensions? I'm not seeing any issues raised on the React Dev Tools repo either.

[2021-06-27 13:57] nicewaytodoit commented on #752
Auto-magically start working again, I do not know what happen but I am puzzled.

[2021-06-27 13:57] #752 closed

[2021-07-11 20:58] rgbkrk commented on #431
It looks like `Set` support is in `react-json-tree` now -- are there other fixes to be made and released for redux devtools now?

[2021-07-12 13:57] Methuselah96 commented on #431
It's been a while since I looked at this, but I don't know of any special `Set` support in `react-json-tree`. My impression was that they were still just treated as iterables.

[2021-07-25 07:25] FaberVitale opened #753 "[feat][inspector-monitor] Add option to toggle visibility of RTKQ actions"
[...]
@FaberVitale Can you add a checkbox to the default action monitor to show/hide RTKQ-related actions? I think one of the biggest critiques towards RTKQ in terms of debugging was that it dispatches a lot of actions, and makes non-RTKQ-code more difficult to debug. So having a switch for just hiding those automated actions would be super-cool.
[...]

_Originally posted by @phryneas in https://g

[2021-08-11 01:56] JimiPedros commented on #530
Really keen to lend a hand! @Methuselah96 is there a development guide published somewhere?

[2021-08-11 02:55] JimiPedros commented on #530
@Methuselah96 can you please add a guide for installing and running this project locally? Cheers

[2021-08-11 14:07] Methuselah96 commented on #530
@JimiPedros Yeah, I can do that. Can you create a separate issue so I remember to get to it?

[2021-08-30 09:32] renovate[bot] opened #824 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update all non-major dependencies](../pull/771) (`@chakra-ui/react`, `@mswjs/data`, `@reduxjs/toolkit`, `electron`, `eslint-plug

[2021-09-02 13:04] Methuselah96 opened #830 "[extension] Slider doesn't work with filtered actions"
This is a note to come back to https://github.com/reduxjs/redux-devtools/pull/829. We need to start using `JUMP_TO_ACTION` instead of `JUMP_TO_STATE` in the Slider monitor.

[2021-09-05 23:52] LeeWannacott opened #841 "Bug: h key not working in dispatcher text box."
My `h` key on my keyboard isn't working in the dispatcher text box. My `h` key is clearly working elsewhere and other keys are working in the dispatcher text box?
![hkey2](https://user-images.githubusercontent.com/49783296/132144745-d8f808ae-f27a-4f4e-89a1-de7de18df4ac.png)

Using Chrome Version 92.0.4515.131 (Official Build) (64-bit) and v2.17.2 of Redux DevTools

[2021-09-06 00:44] LeeWannacott commented on #841
I opened in a new window and it seemed to fix it. Weird. ¯\_(ツ)_/¯

[2021-09-06 00:45] #841 closed

[2021-09-06 20:07] #686 closed

[2021-09-10 19:55] kaiyoma opened #854 "Installing the latest version of this package results in yarn warnings about workspaces"
After reinstalling the latest version of this package, I'm starting to see warnings during yarn install:

[code]

If I search through my node_modules, I can find the offending files:

[code]

What's interesting is that we also use react-redux directly, but that package.json doesn't have `workspaces` set, so redux-devtools seems to be at fault here somehow.

[2021-09-10 20:40] Methuselah96 commented on #854
This issue is with the latest version of `react-redux` ([7.2.5](https://github.com/reduxjs/react-redux/releases/tag/v7.2.5)) so you should open this issue there instead. I'm going to go ahead and close this since it doesn't seem to be an issue on our end, but feel free to let me know if I should reopen it.

[2021-09-10 20:40] #854 closed

[2021-09-12 07:02] AlanCarlyle opened #855 "Can not get lower case 'h' from keyboard"
I just installed Redux Dev Tools Chrome Extension and am trying it out with a LinkedIn Learning course and ran in to a problem.

The dispatcher window does not accept the lower case h key. When I press this key on any connected keyboard nothing happens. (Uppercase H works and I can type lower case elsewhere and copy and past, I can also use the ALT+0104.)

The issue only happens with Redux DevTool

[2021-09-12 07:06] AlanCarlyle commented on #841
Just had the same issue and it seems to be specific to when Redux DevTools is embedded in Chrome Developer Tools.
I disabled all extension and restarted and it was still happening.

[2021-09-12 07:13] LeeWannacott commented on #841
@AlanCarlyle Well good to know it wasn't just me. I thought it was such an esoteric issue that it must of been specific to me; so I closed the issue.

[2021-09-12 07:14] LeeWannacott commented on #855
I had the same issue, but closed it: https://github.com/reduxjs/redux-devtools/issues/841

[2021-09-12 19:28] Methuselah96 commented on #855
Fascinating bug, unfortunately i cannot reproduce it. If you are able to do more investigation that would be great. Can you try disabling all of your other extensions just to make sure its not being caused by another extension? What OS are you on?

[2021-09-12 19:31] Methuselah96 commented on #855
And, yes, this repository is now the home of both the underlying Redux DevTools as well as the Chrome extension that wraps it. My intention is to obtain access to the `redux-devtools-extension` repository at some point and clean up/transfer relevant issues, but I haven't gotten around to it yet.

[2021-09-13 13:12] Methuselah96 commented on #855
I've just released the 3.0 beta Chrome Extension as a separate extension. Can you check it out and see if the bug persists: https://chrome.google.com/webstore/detail/redux-devtools-next/oamphgegmigmlgkdnijmeomjenbmkbdg? Thanks!

[2021-09-13 19:53] FaberVitale opened #858 "[macOs] cannot build react-json-tree"
I couldn't build react-json-tree: It seems that there's again an issues with mutiple `@types/react`.
Can't we force `@types/react` version using `resolutions`?
Is there a better alternative?

<details>
  <summary>Click to see the error log</summary>

[code]
</details>

### System info

- node `v14.17.3`
- yarn ... 😄
- npm `6.14.13`
 -commit id: `1827c555535e5d9c07668ac0fe85f55f74fc3bab`

Os: macOS

[2021-09-13 20:06] Methuselah96 commented on #858
You have to use Yarn since we use Yarn workspaces. I'll that to the README.

[2021-09-13 20:07] Methuselah96 commented on #858
If you use Yarn the `yarn.lock` should correct resolve `@types/react` to the same version.

[2021-09-13 20:12] FaberVitale commented on #858
@Methuselah96
We no longer use lerna?

It crashes when you call `yarn lerna run build:all`

[2021-09-13 20:13] Methuselah96 commented on #858
We use Lerna in combination with Yarn. What is it crashing with?
It should work if you call `yarn install` followed by `yarn run build:all`.

[2021-09-13 20:16] FaberVitale commented on #858
Nope, it keeps on crashing  when running build:types of react-json-tree.

[code]

[2021-09-13 20:18] Methuselah96 commented on #858
Sorry to hear it, is there an error message?

[2021-09-13 20:19] FaberVitale commented on #858
Yeah it's on the 1st post, it is collapsed `> Click to see the error log`

[2021-09-13 20:19] Methuselah96 commented on #858
Got it. Yeah, I would try re cloning or deleting the `node_modules` before running `yarn install`.

[2021-09-13 20:32] FaberVitale commented on #858
Ok,
fixed by removing and redownloading the whole repo.

I wonder if it was a `yarn 2 -> yarn 3` upgrade issue.

Thank you for your quick response :)

[2021-09-13 20:32] #858 closed

[2021-09-21 13:48] corbinschwartz commented on #341
+1 to this feature request!

[2021-09-28 15:47] Matsuuu commented on #855
I work on a different extension, and I've run into this problem with chrome on Manjaro linux too. I think this is not a redux devtools bug, but a chrome bug

[2021-09-28 15:55] Methuselah96 commented on #855
Interesting. Did some Googling, not sure but these could possibly be related:

- https://bugs.chromium.org/p/chromium/issues/detail?id=100251
- https://stackoverflow.com/questions/24289059/why-does-chrome-not-accept-the-letters-c-or-h

[2021-09-28 16:20] Matsuuu commented on #855
I've submitted an issue to the chrome bug tracker with some extra information I was able to find by looking into the sources https://bugs.chromium.org/p/chromium/issues/detail?id=1253948

[2021-10-06 03:13] 5hee75 opened #901 "Bug: Remote Devtools dispatch history lost when paused on breakpoint too long"
When using the Remote DevTools, the dispatch history is only visible for a short time once a breakpoint is hit in the code.  I assume this is because the web-socket stops reporting while the code is paused, but it becomes very frustrating when you're  tracing actions and code and then everything disappears and you can't see any of your actions anymore.

Steps to reproduce:

* Connect to remote dev

[2021-10-10 02:24] wSedlacek opened #903 "`remotedev.io` filled with spam"
https://github.com/reduxjs/redux-devtools/blob/5f1b7e9de5121269927d4c243531c3ee90aa43e7/packages/redux-devtools-app/README.md#L5

I was researching how the remote connection works with redux devtools and when I attempted to open `remotedev.io` it is redirecting to random pages filled with spam (redirects to random pages)

Maybe the domain was purchased by another owner?

I saw an issue on the prev

[2021-10-24 09:15] FaberVitale opened #919 "[Bug][beta] - SliderMonitor hides monitor buttons when the viewport width is small"
### Description

You cannot interact with monitor buttons when the viewport width is small.

### Suggested changes

1. Use a dropdown to select monitors: it was UX solution used previously.
2. Make SliderMonitor or its parent scrollable.

### Screenshots

### Devtools view
<img width="429" alt="Screenshot 2021-10-24 at 10 58 16" src="https://user-images.githubusercontent.com/16583125/138587576-0cb

[2021-10-29 14:20] pszponder opened #933 "Last Update to tool on Firefox was in 2019"
Are these devtools still being supported for firefox? On the firefox addons page, the last update was in Jan 2019 but the chrome version was updated just a few months ago. I'm just trying to figure out if I need to switch to chrome, thanks!

[2021-10-30 13:12] Methuselah96 commented on #530
Just reviewed #861.

My plan at the moment is to release a separate v2 extension so that people can go back to that if they have issues with v3. I think after releasing that extension and removing the things that have been deprecated, v3 should be ready to go.

[2021-10-30 13:15] Methuselah96 commented on #933
The Firefox extension is still supported. The reason for the Chrome extension release was [updating the permissions ](https://github.com/reduxjs/redux-devtools/issues/713) because it got taken down.

[2021-10-30 13:15] #933 closed

[2021-11-01 02:28] iumyidol commented on #380
and its still an issue today

[2021-11-02 21:35] michaeljohansen opened #937 "Use of 'process' in redux-devtools-inspector-monitor"
The `@redux-devtools/inspector-monitor` depends on `chalk` which is intended for Node usage and expects both the `global` object and a `process` object. I can hotfix this problem in a newer browser by doing:

[code]

However, this creates problems elsewhere when other libraries expect e.g. `process` to be undefined to determine whether the library is running in a browser or in Node. Since this is

[2021-11-04 16:40] adamerose commented on #352
Having Reselect Tools added as a tab in Redux DevTools extension would be awesome.

Even better would be if we had Selector values shown in a different color directly alongside the Redux state in the existing State tab for Redux DevTools (in all of the sections - Tree, Chart, and Raw)

[2021-11-05 14:53] #903 closed

[2021-11-06 19:29] Methuselah96 commented on #937
Interesting. In my setup it uses the UMD version of `jsondiffpatch` defined by the [`"browser"` entry](https://github.com/benjamine/jsondiffpatch/blob/master/package.json) which excludes `chalk` for this reason. What does your setup look like?

[2021-11-06 22:34] michaeljohansen commented on #937
Mine seems to be using the [ESM version](https://github.com/benjamine/jsondiffpatch/blob/master/package.json#L11). The relevant project is a React + Node app. I've recently rewritten the project to use ESM throughout. I use [Vite](https://vitejs.dev/) for building the React part. My `package.json` has `type: module`.

[2021-11-06 22:56] Methuselah96 commented on #937
Got it, looks like you're running into the behavior described in https://github.com/vitejs/vite/issues/2329. Sounds like the best solution is for `jsondiffpatch` to add conditional `exports` fields. Feel free to open an issue with `jsondiffpatch` or I can do so when I find the time.

[2021-11-11 10:34] pawelotto opened #955 "Actions inspector shows actions dispatched twice"
I'm using react-redux 7.2.6 and redux-devtools show that actions are **dispatched twice** immediately one after another in the inspector where in reality they are only dispatched once which I confirmed subscribing to the redux store directly.

Any ideas why?

[2021-11-11 11:17] #955 closed

[2021-11-13 08:16] wSedlacek opened #957 "Native Web Socket Support"
In the current iteration of this library SocketCluster is used, particularly v14.3.2
At runtime this library works beautifully, however at design time I have run into a bit of trouble.

Specifically, `socketcluster-client` is the source of two warnings in my npm install.
[code]

And the types for `socketcluster-client` import node libraries like `consumable-stream` and `ws` which have `/// <refere

[2021-11-19 18:32] smilife-chocolat commented on #380
+1

[2021-11-22 09:14] 80avin opened #966 "How to setup local development to watch changes in dependency packages ?"
Could you please provide setup instructions for this monorepo ?

While I can test by building the packages, I cannot do live development properly as it doesn't watch the dependent packages.

Ex. I'm running `start` in `packages/redux-devtools-app` which depends on `@redux-devtools/ui`. But when I make changes in `packages\redux-devtools-ui\src\Tabs\TabsHeader.tsx`, the changes aren't reflected in

[2021-11-23 17:03] sagzy commented on #380
Upvote. Still an issue on Firefox

[2021-11-23 17:12] markerikson commented on #380
Folks, nothing has changed with this. You don't need to keep adding comments saying "still an issue".

If there is an actual potential technical solution, the best thing you can do would be to file a PR that implements it.  (It's also possible this is fixed in the upcoming DevTools Extension 3.0 version, which is currently in beta - it would help if someone could try it out and actually report on

[2021-11-24 14:05] 80avin commented on #966
Found a workaround with `nodemon`

[2021-11-28 12:09] bk973 commented on #966
Close this issue

[2021-11-28 15:09] #966 closed

[2021-11-29 14:52] Temu4 commented on #431
2021 - Map and Set are still showing as empty objects...

[2021-11-29 23:55] kaiyoma opened #970 "@redux-devtools/cli cannot be installed with pnpm (while enabling strict peer dependencies)"
Here's the error:

[code]

It seems that there's a problem internally with the peer dependencies for one of the packages.

[2021-11-30 05:23] agalazis commented on #436
I think there is a similar issue with sets as well

[2021-11-30 22:19] davidsmith2 opened #971 "unsafe-eval question"
I work for a US government contractor. Our client's IT department is disallowing the use of this extension for the following reason:

This appears to be defined in the extension's manifest.json CSP definition:

https://github.com/reduxjs/redux-devtools/blob/main/extension/src/browser/extension/manifest.json#L67

Curious if anyone else had run into this obstacle?

[2021-12-09 10:18] spirobel opened #982 "action tracing problem with remote redux devtools"
Please read: https://github.com/reduxjs/redux-toolkit/issues/820
thank you very much! <3
Spirobel

[2021-12-09 14:11] dancancro commented on #413
I'm getting this with redux 4.1.2 and redux devtools 4.21.0. Disabling and removing the Chrome extension didn't do anything. Everything works fine on Brave and Opera.

[2021-12-10 05:54] yathindrakodithuwakku commented on #452
I still getting the issue with the browser extension. Any update on this issue?

[2021-12-22 13:39] AnthoniG opened #984 "[bug] ERESOLVE: Unable to resolve dependency tree"
Just started a new react project and tried to install redux-devtools but I keep getting an  ERESOLVE error
It seems to be something to with my react version.

Current react installed = ^17.0.2
Below is the the error I get
`npm ERR! While resolving: rvwz-rdx@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not re

[2021-12-22 15:49] markerikson commented on #984
What package are you trying to install, exactly, and to do what?

There's a few different things going on here:

- There _is_ technically a `redux-devtools` package ( https://www.npmjs.com/package/redux-devtools ), but it's a component that you'd add to your actual app. That's been deprecated for a while and you shouldn't be installing it.  Instead you should be using the DevTools browser extensio

[2021-12-22 20:38] AnthoniG commented on #984
Ohh right. For some reason I thought I needed this package to talk to the browser extension.
It has been a while since I played about with Redux. So I am either miss remembering things or getting things totally wrong.

Thanks for the advice. Much appreciated.
Can safely close this now.

[2021-12-22 20:38] #984 closed

[2021-12-22 20:43] markerikson commented on #984
Yeah, RTK's `configureStore` will automatically set up the DevTools Extension integration for you, no further work needed:

https://redux.js.org/tutorials/quick-start

[2022-01-04 06:57] phihochzwei opened #989 "Search for entities"
We are using the devtools in our project and they are really helpfull. But one thing is missing from my point of view: The possibility  to search for an entity. We have e.g. one EntityState with roundabout 600 entities. It would be very helpfull if I could just enter the ID of a specific one to find it faster.

[2022-01-04 18:29] FaberVitale commented on #989
I think the best way to implement it is to add search functionality to [redux-devtools-inspector-monitor](https://github.com/reduxjs/redux-devtools/tree/main/packages/redux-devtools-inspector-monitor) right-side content.

I do not think that it makes sense to use a monitor like we did for [`rtk-query-monitor`](https://github.com/reduxjs/redux-devtools/tree/main/packages/redux-devtools-rtk-query-mo

[2022-01-07 04:27] #830 closed

[2022-01-08 16:17] markerikson opened #995 "Feedback on new v3.0 UI"
Per discussion in Reactiflux, congrats on getting this out the door!

My main nitpick, as I noted earlier, is that all of the "data" areas of the UI (actions list, action/state tab contents, RTKQ tab) are using a variable-width font, regardless of whether the main theme setting is "Default" or "Material".  In this case it looks like the font is `Source Sans Pro`:

![image](https://user-images.gith

[2022-01-08 17:11] FaberVitale commented on #995
My bad :)

I'll make a PR.

[2022-01-10 11:12] rart opened #1000 "Instance auto-switches undesirably"
I have an app that has an iframe within. There's a redux instance on the top frame and another instance (different app) inside the iframe. The tools have the instance switcher dropdown which shows 3 values: "autoselect instance", "instance 1" and "instance 2".

No matter what's selected on the instance switcher, when ever an action happens on the top frame instance (i.e. instance 1), the tools go

[2022-01-10 12:29] pavelvrublevskij opened #1001 "Make state tree alphabetically sortable"
This is proposition to have state tree sortable. Could be activated by some option.

Current state:
![image](https://user-images.githubusercontent.com/49069243/148765647-0deeddf6-71a8-4859-8b0e-08736d4ffaf8.png)

Expected:
alphabetically sortable state slices

[2022-01-10 23:22] j-dowell opened #1002 "Breaking changes after updating extension to v3"
After updating the Redux Dev Tools extension (Chrome) to v3 this weekend, our app is no longer working when the extension is enabled. Still works on Firefox as the add on hasn't been updated yet.

We use [redux-most](https://github.com/joshburgess/redux-most) as middleware, like so:

[code]

And now when accessing state (using [withState](https://github.com/joshburgess/redux-most#withstate-statest

[2022-01-11 00:15] markerikson commented on #1002
Oh dear.

A couple quick questions to get a sense of what's going on:

- What happens if you just `console.log(store.getState())`?  Is it also this "lifted state" value from the DevTools?
- What happens if you skip the `composeWithEnhancers` part?
- Finally, what about using `composeWithEnhancers` and skipping the middleware?

[2022-01-11 02:47] Methuselah96 commented on #1002
@j-dowell I believe I have a solution. There was an observable property leaking through the Redux DevTools store that was exposing the lifted state.

However if I release the fix, I'm concerned that your app will break even worse. In my testing it seemed that `redux-most` could not handle Redux versions `>=4.1.0` due to the changes in how the observable symbol was ponyfilled. In those cases, the a

[2022-01-11 02:54] markerikson commented on #1002
Huh. What's the observable ponyfill issue, specifically?

[2022-01-11 04:24] Methuselah96 commented on #1002
Oh, I guess it's technically a polyfill for `Symbol.observable` if `Symbol` exists and a ponyfill otherwise. TIL

The issue is:
Redux 4.0.5 depends on `symbol-observable` as does `most`. `symbol-observable` [polyfills `Symbol.observable`](https://github.com/benlesh/symbol-observable/blob/master/es/ponyfill.js#L22) and so it doesn't matter which one calls `symbol-observable` first, because the firs

[2022-01-11 05:09] markerikson commented on #1002
Grrr. We specifically removed that dependency in 4.1.0 specifically because it was a lousy 1-line dependency and I didn't want to have to rely on it.

Could we just advise users to import the polyfill first if it's a thing they need to depend on?

[2022-01-11 15:00] Methuselah96 commented on #1002
Was the dependency causing any specific problems? It seems like adding a few bytes to the bundle size is easily worth it in this case in order to avoid the special instructions of having to import the polyfill first, any complications that arise from that, as well as any developer time spent trying to figure out why it's broken. It's a pretty bad gotcha and easily solved on the Redux side of thing

[2022-01-11 15:59] sorinpav commented on #1002
Hi! Is there a way to downgrade to a previous version? We're having issues as well, and I'm not sure what to do to make it work again. We shouldn't have to make changes to our code just to use an extension..

[2022-01-11 16:04] jjspace commented on #995
I came looking to open an issue on exactly these items. It's much harder to read after the update for me and I'd love more control over the font used. At the very least a "small, medium, large" setting for size but a monospace font is also greatly desired.

[2022-01-11 16:37] Methuselah96 commented on #1002
@sorinpav Unfortunately Chrome Extensions automatically updates extensions without consent and doesn't have a way to downgrade and  which is a severe limitation of Chrome Extensions. For now the best way to work around it is to download the `extension.zip` artifact from [the most recent release](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/2.17.0) and [load it unpacked](http

[2022-01-11 17:12] sorinpav commented on #1002
Thank you so much! That sorted our redux devtools extension. It's really frustrating to see breaking changes like that, hopefully it gets sorted out soon.

The redux version I'm using is 4.1.2.

[2022-01-11 17:13] j-dowell commented on #1002
Thanks for looking into it. But our app is already using `4.1.1` of redux with no issues.

[2022-01-11 18:25] Methuselah96 commented on #1002
Thanks for the info. My guess is that the reason it breaks with the extension but not with plain Redux is because the order of import is the Redux DevTools extension, `most`/RxJS, and then Redux, however I haven't confirmed that for sure yet. I have a fix in mind that I'll try to get out today.

[2022-01-11 19:16] Methuselah96 commented on #1002
@sorinpav Are you also using `redux-most`?

[2022-01-11 19:17] sorinpav commented on #1002
@Methuselah96 no, I'm not using any of that

[2022-01-11 19:18] Methuselah96 commented on #1002
@sorinpav Got it, what problems are you having with the new extension?

[2022-01-11 19:20] sorinpav commented on #1002
@Methuselah96 the new extension just seems to not show any state whatsoever. I get state:undefined if I remember correctly. Maybe I haven't set things up properly, but the existence of this issue tells me I'm not the only one with this problem.

[2022-01-11 19:21] a-c-sreedhar-reddy commented on #1002
Hi @Methuselah96
The internal object from redux is being returned in my case.

[2022-01-11 19:25] Methuselah96 commented on #1002
@sorinpav Got it, sorry to hear you're having problems. This root issue of the OP is very distinctly caused by a weird interaction with symbol-observable and the extension that should only affect people who are using symbol-observable or a library that uses it like most.js. It's likely your root issue is different. If you could open a new issue with a description that shows the code you're using t

[2022-01-11 19:27] Methuselah96 commented on #1002
@a-c-sreedhar-reddy Also, are you getting the internal object when calling `.getState()` or something else?

[2022-01-11 19:27] sorinpav commented on #1002
@Methuselah96 i will open something up tomorrow morning if that's ok! Once again, thank you for all your help tonight! I'll be back tomorrow!

[2022-01-11 19:34] j-dowell commented on #1002
@Methuselah96 Sure, just installed and it crashed with `Uncaught TypeError: from(x) must be observable, iterable, or array-like: [object Object]
`

[2022-01-11 19:36] a-c-sreedhar-reddy commented on #1002
Yes we added `import 'symbol-observable';`  in our polyfill.ts of our angular app.

This is how we instantiate redux store.
[code]

We wrap store in a `from` from `rxjs` ie `from(globalStore)` and subscribing to this gives the internal object.

[2022-01-11 19:42] markerikson commented on #1002
@a-c-sreedhar-reddy : while I don't think it's directly related, that is a _realllly_ weird way to set up a Redux store. It looks like you're mixing pieces of the plain `createStore` function with RTK's `getDefaultMiddleware`. Please don't do that :) Just use `configureStore` - it will do all that setup work for you.

(Also I'd be interested in hearing, in a separate discussion thread, why you opt

[2022-01-11 20:01] Methuselah96 commented on #1002
@a-c-sreedhar-reddy
1. Can you try out [Redux DevTools - Next](https://chrome.google.com/webstore/detail/redux-devtools-next/oamphgegmigmlgkdnijmeomjenbmkbdg) as well when you get a chance? I'm 90% your problem is the same, just want to make sure.
2. What are you using `symbol-observable` for? RxJS has a ponyfill for Symbol.observable if I understand correctly.

[2022-01-11 20:06] a-c-sreedhar-reddy commented on #1002
@Methuselah96 Yes it crashed
![image](https://user-images.githubusercontent.com/16081083/149013362-0277bf4e-40d4-41ae-8e58-f6f98bdfac48.png)

[2022-01-11 21:54] Methuselah96 commented on #1001
Thanks for the suggestion. This has already been suggested in https://github.com/reduxjs/redux-devtools/issues/433 so I'm going to close this for now just to keep the conversation centralized in that other issue.

[2022-01-11 21:54] #1001 closed

[2022-01-11 21:59] Methuselah96 commented on #530
v3 is released so I'm closing this. 🎉

[2022-01-11 21:59] #530 closed

[2022-01-11 22:05] Methuselah96 commented on #668
1. You can open the DevTools in a new window so I'm not that worried about the vertical space issue.
2. We just released a new UI. I'm not really sure that it fixes the issues mentioned here, but it's worth trying out.
3. I'm not really a UI/UX person. As the issue currently exists, it's too vague to be actionable (at least by me). Feel free to suggest more specific actionable changes or open a PR

[2022-01-11 22:06] Methuselah96 commented on #503
It has been released in v3 of the extension.

[2022-01-11 22:06] #503 closed

[2022-01-11 22:08] Methuselah96 commented on #668
Also, looks like https://github.com/reduxjs/redux-devtools/issues/474 is a similar issue with more specific things to change so feel free to chime in there as well. I'll keep it open for now until I have time to dig into it some more.

[2022-01-12 04:56] #1002 closed

[2022-01-12 05:29] Methuselah96 commented on #1002
@j-dowell @a-c-sreedhar-reddy Just released [v3.0.3](https://github.com/reduxjs/redux-devtools/releases/tag/remotedev-redux-devtools-extension%403.0.3) with a fix. It's released on Firefox and pending review on Chrome (usually review takes a few hours). Until then you can load it unpacked using the ZIP attached to the release. Let me know if it fixes your issue.

@sorinpav Feel free to try the new

[2022-01-12 07:55] a-c-sreedhar-reddy commented on #1002
It worked now. Thanks @Methuselah96 ✌🏻

[2022-01-12 09:36] droid001 opened #1006 "Immutable object not parsed in v3"
With the new version I cannot see the immutable data which is in the store. Instead the data looks like `$jsan(pin): "$[0][1]"`.

v.3:
![Screenshot 2022-01-12 at 10 27 55](https://user-images.githubusercontent.com/7068571/149107641-88df870a-35f2-4c06-a2b2-39f4235b0dbb.png)
v.2.17.2
![Screenshot 2022-01-12 at 10 27 24](https://user-images.githubusercontent.com/7068571/149107922-89c64e68-8fd9-41f7-a

[2022-01-12 13:59] robmcm commented on #1002
Thanks @Methuselah96 3.0.3 also fixes an issue we were having with accessing the observable manually using symbol-observable. Appreciate the quick turnaround!

[2022-01-12 14:24] Methuselah96 commented on #1002
@markerikson To conclude our earlier conversation, it turns out RxJS [stopped using a polyfill](https://github.com/ReactiveX/rxjs/pull/3387) for Symbol.observable as well which makes me agree that Redux should not be using `symbol-observable` since the original intent of making the Redux store observable was to make the store [interop with RxJS](https://github.com/reduxjs/redux/pull/1632).

The so

[2022-01-12 15:43] sorinpav commented on #1002
@Methuselah96 It appears that the 3.0.3 version did not sort our issue. I've tried both the "-next" and the official Redux-devtools extensions. v3.0.3. They don't seem to work for us. Should I start a new issue, or should we reopen this one? Also, could you please re-iterate what details you would need from our config?

[2022-01-12 15:49] Methuselah96 commented on #1002
@sorinpav I think starting a new issue would be preferable since it's a different root issue. If you could specify how you're creating your store similarly to how it was done [here](https://github.com/reduxjs/redux-devtools/issues/1002#issue-1098490023) and [here](https://github.com/reduxjs/redux-devtools/issues/1002#issuecomment-1010297615) that would be great. Thanks!

[2022-01-12 15:57] markerikson commented on #1002
@Methuselah96 gotcha. Really appreciate your detective work and digging here!

[2022-01-12 17:32] sorinpav opened #1007 "Redux extension does not show state after upgrading to v.3 or v3.0.3"
@Methuselah96 thank you for helping. I'm tagging you directly so you're aware of the issue, since we talked about this. Thanks again!

After both the upgrades done this week, firstly to v3 and then to v3.0.3, we still see `state: undefined` in our app.

This is how we set up our store:
[code]

![image](https://user-images.githubusercontent.com/50046459/149190939-d39d98ec-9687-4691-bdb5-ef73060fc74

[2022-01-12 17:56] Methuselah96 commented on #1007
Thanks for the issue. Can you add how `composeWithDevTools` is being defined?

[2022-01-12 18:00] Methuselah96 commented on #1007
Never mind, the issue is that you're using `window.devToolsExtension`. That was [deprecated](https://github.com/zalmoxisus/redux-devtools-extension/issues/220) in 2.7 and then [removed](https://github.com/reduxjs/redux-devtools/releases/tag/remotedev-redux-devtools-extension%403.0.0) in 3.0. Use `window.__REDUX_DEVTOOLS_EXTENSION__` / `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__` instead.

[2022-01-12 18:00] Methuselah96 commented on #1007
I'm closing this since I'm highly confident that will fix your issue. Let me know if you have any other issues.

[2022-01-12 18:00] #1007 closed

[2022-01-12 18:07] sorinpav commented on #1007
I'll have a look and let you know if this fixes the issue. Judging by how you said it, it probably will. Thanks so much for the help! I'll update on here @Methuselah96.

[2022-01-12 18:12] markerikson commented on #1007
fwiw, I'd also strongly suggest switching to Redux Toolkit's `configureStore` API, because A) you _should_ be using RTK anyway, and B) it also automatically does the DevTools configuration for you :)

https://redux.js.org/tutorials/fundamentals/part-8-modern-redux#using-configurestore

[2022-01-12 18:21] Methuselah96 commented on #1007
Or switch to the [`@redux-devtools/extension` NPM package](https://github.com/reduxjs/redux-devtools/tree/main/packages/redux-devtools-extension) if you're not ready to make the jump to RTK.

[2022-01-12 18:48] sshquack commented on #530
Thank you @Methuselah96 @zalmoxisus @FaberVitale for the v3 release ❤️ Love the new UI, RTK query monitor and all the little details!

<img width="1920" alt="Screenshot 000029@2x" src="https://user-images.githubusercontent.com/5678459/149202900-f3afdb16-95a5-4820-a3c3-bf5c4d331e11.png">

[2022-01-12 19:05] sshquack opened #1008 "Firefox redux-devtools not updating"
Versions:
- Firefox 96.0
- redux-devtools 3.0.3
- macOS 12
- Apple M1 chip

Congrats on the new v3 release. I updated to the latest redux-devtools 3.0.3 for Firefox and Chrome today. Everything works in Chrome as expected. In Firefox the redux-devtools refreshes only in the beginning and then it appears stuck. In v2 everything was working fine so this appeared only in v3. Please see recorded video

[2022-01-12 19:17] microlabig commented on #1008
I support sshquack. Also updated everything (more accurately updated automatically)

I display in a separate window devtools. Then I update the application (react hot reload), but the devtools is also updated and does not show anything. I have to go to devtools and press `<F5>`

OS: Ubuntu 20.04
Browser: Opera 82.0.4227.43
DevTools: v3.0.2

[2022-01-12 19:17] noypitt opened #1009 "React DevTool doesnt connect to store"
We are using the following package(import { NgReduxModule, NgRedux, DevToolsExtension } from '@angular-redux/store';
 ) in order connect to redux devtool, starting a few days ago we are not able to connect to store:

[code]
I am not able to connect to store anymore.
![image](https://user-images.githubusercontent.com/69755366/149206999-3f5873b6-4f61-4fe4-8820-8d10425499f9.png)
What changed?

[2022-01-12 21:24] Methuselah96 commented on #1009
What version of `@angular-redux/store` are you using? I believe you have to be on 10.0.0 in order for the latest Redux Devtools to work since earlier versions rely on the deprecated `window.devToolsExtension`.

[2022-01-13 02:33] Methuselah96 commented on #1008
Odd, all seems to be working fine on my end:

https://user-images.githubusercontent.com/693755/149255268-78575856-2004-47b0-a105-53c0de73527f.mp4

OS: Windows 11
Browser: Firefox 95.0.2 (64-bit)
DevTools: v3.0.3

Any ideas of what else I can try to reproduce? Looks like you're in a private window in your video. I don't seem to be able to access Redux DevTools in a private window, so I'm not sure i

[2022-01-13 02:35] Methuselah96 commented on #1000
If you would be able to create a minimal reproduction showing the issue that would be extremely helpful.

[2022-01-13 03:01] sshquack commented on #1008
@Methuselah96 Here is how to enable running the extension in private window
![Screenshot 000032 2@2x](https://user-images.githubusercontent.com/5678459/149258169-5e976154-bd05-4ed0-abcb-ec3cbfc03480.png)

[2022-01-13 03:04] sshquack commented on #1008
@Methuselah96 Oops! This was my mis-configuration. It is working now. Here is what I changed in the redux-devtools preferences
![Screenshot 000034@2x](https://user-images.githubusercontent.com/5678459/149258281-86a0a139-97c3-4621-851e-7a7062d3b2f3.png)

And here it is working as expected.

https://user-images.githubusercontent.com/5678459/149258474-3225829b-fc4c-437e-9e90-3433c3c7a16f.mp4

Apologi

[2022-01-13 03:04] #1008 closed

[2022-01-13 03:50] markerikson commented on #1008
fwiw this was an _excellent_ bug report and I wish that more people filed issues with this much info :)

[2022-01-13 08:32] rart commented on #1000
@Methuselah96 here you go: [rart/redux-devtools-issue-1000](https://github.com/rart/redux-devtools-issue-1000.git)

To reproduce:
- Fire up your webserver of choice on the root of the project directory (e.g. `python -m SimpleHTTPServer 8000`)
  - If you serve from disk, the extension may not be enabled for the page
- Go to the index.html
- Open the Redux DevTools
  - Notice there are 2 instances:

[2022-01-13 14:18] CrOrc opened #1010 "react-json-tree esm exports"
ESM export is broken in react-json-tree@0.16,0.

Now the only export is named export JSONTree.
So imports should be changed from
[code]
to
[code]

Please, add it to CHANGELOG

[2022-01-13 14:39] Methuselah96 commented on #1010
The release notes are now documented in [Releases](https://github.com/reduxjs/redux-devtools/releases). This particular change is documented [here](https://github.com/reduxjs/redux-devtools/releases/tag/remotedev-redux-devtools-extension%403.0.1). Creating good release notes in monorepos is hard since there are over 20 packages. I tried using conventional commits for a bit, but I didn't think it p

[2022-01-13 18:20] noypitt commented on #1009
Thanks, we are in 9.0.0 tried to upgrade and gets a lot of errors.
Everything works till last few days. Any chance to make it work ?

[2022-01-13 18:26] Methuselah96 commented on #1009
Sorry, we can't keep maintaining deprecated features forever and unfortunately there's no way to downgrade a Chrome Extension. I would highly suggest you upgrade to `10.0.0`. The only other workaround is to download the `extension.zip` artifact from [the most recent release](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/2.17.0) and [load it unpacked](https://stackoverflow.com

[2022-01-13 18:26] #1009 closed

[2022-01-13 18:51] FaberVitale opened #1011 "[chore]: improve build times"
redux-devtools is a humongous project and we should consider the use of `esbuild` or `swc` to speed up compilation time.
We could use [`rollup-plugin-esbuild`](https://www.npmjs.com/package/rollup-plugin-esbuild) to generate the js bundle and [rollup-plugin-dts](https://github.com/Swatinem/rollup-plugin-dts) to generate the ts types.

### esbuild in other redux projects

[reduxjs/toolkit](https://

[2022-01-14 03:43] hazeFlame opened #1014 "[bug] in a old product redux view is empty when devtools 3.0.3 updated"

[2022-01-14 04:34] Methuselah96 commented on #1014
Is it possible that you're using the deprecated `window.devToolsExtension`? `window.devToolsExtension` was [renamed](https://github.com/reduxjs/redux-devtools/tree/main/extension#usage) to `window.__REDUX_DEVTOOLS_EXTENSION__` / `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`.

[2022-01-14 18:35] Methuselah96 commented on #1011
Note that the Webpack builds are by far the slowest. Specifically the extension build, the `@redux-devtools/ui` Storybook build, and the `@redux-devtools/app` Webpack builds take 80% of the build time, so we should focus on making those fast if we want to make any meaningful impact on the overall build time. I'm not sure what options we have for making the Storybook build faster.

[2022-01-14 21:16] jonahlibrach opened #1015 "The button to open remote devtools disappeared"
Chrome:
Version 97.0.4692.71 (Official Build) (x86_64)

Operating system:
macOS Mojave, Version 10.14.1

I'm not sure if this detail has anything to do with it, but when I launch redux devtools from CRA with `yarn remotedev`, I navigate to `http://localhost:8000` and it takes ~ 5 minutes just to load the page.

Previously, when I clicked `Open Remote Devtools` in the Chrome extension popup menu, e

[2022-01-14 21:19] #1015 closed

[2022-01-14 21:21] jonahlibrach commented on #1015
Remove and reinstall the extension

[2022-01-15 18:02] FaberVitale commented on #1011
### @redux-devtools/app

Looking at the compiled code `packages/redux-devtools-app/build/web/js/app.js` it seems that it still uses `regenator.runtime` to handle `async` functions([browser support](https://caniuse.com/async-functions)).

1. Can we use a more recent compilation target?
2. Is babel still necessary: isn't ts-loader good enough?

I'm not sure that it still makes sense for a  developme

[2022-01-15 18:11] markerikson commented on #1011
Yeah, my first take is that it's absolutely safe to use `async` code in browsers (especially given that we just shipped a major release here).

[2022-01-15 19:06] Methuselah96 commented on #1011
I don't think that will make a difference, but let's see how https://github.com/reduxjs/redux-devtools/pull/1017 does.

From what I understand `ts-loader` would still be doing some targeting. At least with builds at my work, Babel ended up being faster than ts-loader.

That being said, I don't think Babel is the largest bottleneck, I think Webpack is just really slow whether using Babel or not.

[2022-01-15 19:15] Methuselah96 commented on #1011
The build for `@redux-devtools/app` in https://github.com/reduxjs/redux-devtools/pull/1017 ended up being ~14 seconds faster. Not sure how much of that can be chalked up to build time variance, but I think we'll need bigger changes than that to consider making a change.

[2022-01-16 01:47] sshquack opened #1018 "On narrow view ports, unable to scroll to the right to select "RTK query" tab"
### Versions

- Firefox 96.0 / Chrome 97.0
- redux-devtools 3.0.3
- macOS 12
- Apple M1 chip

### Problem
I typically have redux-devtools running in a narrow viewport on the right handside of the app (as shown in the video). Once in the narrow viewport, I'm unable to either scroll or "view more" without resizing the redux-devtools window. Here is a demo of the problem:

https://user-images.githubu

[2022-01-16 19:21] wesen opened #1020 "Documentation links in README.md point to old redux-devtools-extension repository"
### Versions

Main repository

### Problem

In the main [README.md](https://github.com/reduxjs/redux-devtools/blob/main/README.md?plain=1#L15), the Documentation links at the bottom point to the out-of-date redux-devtools-extension repository.

[2022-01-16 19:47] markerikson commented on #995
Related: the "Stack Trace" pane seems to have lost any formatting as well:

![image](https://user-images.githubusercontent.com/1128784/149675465-96d5d3f0-f8d6-4d4d-b818-118b9c88f4b8.png)

[2022-01-16 20:30] #1020 closed

[2022-01-16 22:30] Methuselah96 commented on #1018
Thanks for the issue! This has already been reported/requested in https://github.com/reduxjs/redux-devtools/issues/919 so I'm going to close this just to close just to keep the conversation centralized.

[2022-01-16 22:30] #1018 closed

[2022-01-16 22:30] Methuselah96 commented on #919
See https://github.com/reduxjs/redux-devtools/issues/1018 for another suggestion on how to resolve the issue.

[2022-01-16 22:33] Methuselah96 commented on #995
That looks the same (except for the font which I expect to fix soon) as 2.17:
![image](https://user-images.githubusercontent.com/693755/149680810-8753e244-8150-4c9f-8555-964d3c148c4e.png)

[2022-01-16 22:40] Methuselah96 commented on #995
I think it's missing the actual code in the stack frames which is why it looks to be missing formatting. I think if it showed the actual code it would look more normal, but I'll have to double-check that later.

[2022-01-16 22:48] markerikson commented on #995
Oh yeah, _that's_ why it looks weird :)

I know that Mihail completely restyled things after I initially ported the CRA dev overlay over into this codebase (dark theme, etc).  Code snippets are kinda important though :)

[2022-01-16 23:36] Methuselah96 commented on #995
Yeah, I think it works or doesn't work depending which kind of sourcemap you use. I've been meaning to look into it, but figured since it was already broken in 2.17 I'd wait until releasing 3.0 to look into why it was broken.

[2022-01-16 23:42] Methuselah96 commented on #995
Looks like it's working for `devtool: 'source-map'`, but not `devtool: 'eval-source-map'`.

[2022-01-17 15:04] klauswiesel commented on #433
I also would really like this coming!!

[2022-01-17 15:54] nmaxim opened #1028 "Devtools seem to break reduxs observable support again"
Hello.

After update to v 3.0.3 this error appears:

Uncaught TypeError: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable.

The "guilty" line is:

import { from } from 'rxjs';
.....
-> const $store = from(store);

Looks very similar to https://github.com/reduxjs/redux-devtools/issues/274

[2022-01-17 16:20] Methuselah96 commented on #1028
Are you getting any warnings in the console?

[2022-01-17 17:46] oveits opened #1029 "Chart is not visible, because window is too small and not resizable"
The chart is not visible, since the tool window is way too small:
![image](https://user-images.githubusercontent.com/8299115/149816474-933556c3-6445-478d-9aef-f6d403de9f9c.png)

On the lower right, there are some lines that show that the chart is there, but it is not displayed correctly.

Can we resize the window? I just do not know, how. The mouse pointer does not show any effect, when I hover ov

[2022-01-17 17:48] Methuselah96 commented on #1028
Also, what version of RxJS are you using?

[2022-01-17 17:51] oveits commented on #1029
Okay, I have found out that the chart size can be changed:
![image](https://user-images.githubusercontent.com/8299115/149817270-8326d3dc-9c04-4074-99c5-60df4a70b699.png)

A resizable window would be much better, though, since the chart data is not readable this way. The only way to work with it is to move the chart by dragging it and to resize the chart locally with the mouse wheel. However, you o

[2022-01-17 17:54] Methuselah96 commented on #1029
You can open the Redux DevTools in a new window using one of the three "border" buttons in the bottom-right. You can also view the Redux DevTools as a tab in the Chrome DevTools (which you can undock as a separate window). Both of those options are resizable. Does that help?

[2022-01-17 19:35] oveits commented on #1029
I now have found how to open the tool in a resizable window:
Extensions Icon --> click the three vertial dots on the right of Redux DevTools --> choose "To left", "To right", "To bottom" or "Open in a panel"
With all four options, Reux DevTools opens in a resizable way.

[2022-01-17 19:35] #1029 closed

[2022-01-17 19:37] oveits commented on #1029
@Methuselah96 : yes, that works as well. Thanks a lot for the quick response.

[2022-01-17 23:26] Aidar-Frontend-Developer commented on #1028
"rxjs": "^6.5.5", "react-redux": "^7.2.2",

[2022-01-17 23:31] markerikson commented on #1028
@Aidar-Frontend-Developer In this case what matters is the `redux` (or `@reduxjs/toolkit`) version, rather than `react-redux`.

[2022-01-17 23:40] Aidar-Frontend-Developer commented on #1028
@markerikson "@reduxjs/toolkit": "^1.5.0",

[2022-01-17 23:45] markerikson commented on #1028
@Aidar-Frontend-Developer okay. for reference, what actual version of `redux` is showing in your `package-lock.json` or `yarn.lock` file?

[2022-01-17 23:51] Aidar-Frontend-Developer commented on #1028
"@reduxjs/toolkit@^1.5.0":
  version "1.5.1"
  resolved "https://registry.yarnpkg.com/@reduxjs/toolkit/-/toolkit-1.5.1.tgz#05daa2f6eebc70dc18cd98a90421fab7fa565dc5"
  dependencies:
    immer "^8.0.1"
    redux "^4.0.0"
    redux-thunk "^2.3.0"
    reselect "^4.0.0"

[2022-01-17 23:55] Aidar-Frontend-Developer commented on #1028
I suppose i need to install symbol-observable package?

[2022-01-18 00:13] Methuselah96 commented on #1028
That's the `yarn.lock` entry for `@reduxjs/toolkit`, is there a similar entry for `redux`? It should be near the bottom half of the file since they're in alphabetical order.

You shouldn't need to with the latest versions of Redux and RxJS.

Are you getting any warnings in the Chrome DevTools console?

[2022-01-18 00:15] Aidar-Frontend-Developer commented on #1028
TypeError: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable.

[2022-01-18 00:17] Aidar-Frontend-Developer commented on #1028
"redux@^3.6.0 || ^4.0.0", redux@^4.0.0, redux@^4.0.4:
  version "4.1.0"
  resolved "https://registry.yarnpkg.com/redux/-/redux-4.1.0.tgz#eb049679f2f523c379f1aff345c8612f294c88d4"
  dependencies:
    "@babel/runtime" "^7.9.2"

[2022-01-18 00:21] Methuselah96 commented on #1028
Does `symbol-observable` show up at all in your `yarn.lock`? If so, what depends on it?

[2022-01-18 00:22] Aidar-Frontend-Developer commented on #1028
We don't have it

[2022-01-18 07:14] Aidar-Frontend-Developer commented on #1028
Do you have any ideas about how to fix it?

[2022-01-18 15:41] Methuselah96 commented on #1028
I tested it out with those specific version numbers and couldn't reproduce. Can you share the code that you're using the create the Redux store?

[2022-01-18 15:43] bvaughn opened #1030 "Redux DevTools interferes with React DevTools and causes confusion"
I think this issue https://github.com/zalmoxisus/redux-devtools-extension/issues/829 may have been misfiled and should belong in this repo instead.

See here for a little more context: https://github.com/facebook/react/issues/23107

[2022-01-18 15:47] Aidar-Frontend-Developer commented on #1028
import createSagaMiddleware from 'redux-saga';
import { configureStore, Store } from '@reduxjs/toolkit';
import { promiseMiddleware } from '@adobe/redux-saga-promise';
import { persistStore, Persistor } from 'redux-persist';

import rootReducer from './rootReducer';
import rootSaga from './rootSaga';

// @TODO remove after fixing deprecated libs that are using store directly inside api calls
// es

[2022-01-18 16:48] Methuselah96 commented on #1028
I am not able to reproduce the issue. I've tried creating [a project](https://github.com/Methuselah96/test-redux-devtools-issue) similar to yours, but everything seems to work fine. Can you try creating a reproducable example that you can share?

[2022-01-18 17:50] jtiscione commented on #995
Does anyone know how to make the font larger? Or the latest version that had legible fonts?
![Screen Shot 2022-01-18 at 10 48 14 AM](https://user-images.githubusercontent.com/5413726/149991327-9846fea0-8b8c-4cbf-affe-9aad9a53b97c.png)
I can't read this at all.

[2022-01-19 01:47] Methuselah96 commented on #1028
I understand the problem (I think), but when I try to duplicate your code, I don't have the problem. Can you create a public repository showing the issue?

[2022-01-19 03:01] hiisea commented on #366
Hi, Any updates here? I am facing the same issue.

[2022-01-19 14:25] BigsonLvrocha opened #1032 "New update on Redux devtools breaks Jira site"
With the new 3.0.4 version of the redux-devtools that went live yesterday the jira page won't load at all, just the side menu and some parts of the page, uninstalling the extension fixes the problem

I came here and saw no update was made, is there something wrong?

---
**Update by @timdorr:**
A fixed version is pending review with Google. In the meantime, I've posted some workarounds here: https:

[2022-01-19 14:27] Tomsprakse opened #1033 "ReduxDev tools shows error on Jira"
Hello,

Trying to open Jira on chrome with ReduxDev tools i get error message, "failed to initialize package jsutil TypeError: g.object is not a function"
when i turn off extension the problem disappears.
On other browsers there is no issue. Maybe the issue is known and have some possible fix for this.

Thank you in advance.

[2022-01-19 14:34] Methuselah96 commented on #1033
Thanks for the issue, let's keep this centralized in https://github.com/reduxjs/redux-devtools/issues/1032.

[2022-01-19 14:34] #1033 closed

[2022-01-19 14:36] Methuselah96 commented on #1032
Here's the update: https://github.com/reduxjs/redux-devtools/releases/tag/creat. Taking a look.

[2022-01-19 14:39] bersamtrustyou commented on #1032
I can confirm this.

[2022-01-19 14:40] Methuselah96 commented on #1032
I'm having trouble reproducing the issue. I've loaded up a test Jira project and things seem to be working. What should I be trying to reproduce the issue?

![image](https://user-images.githubusercontent.com/693755/150152739-ac18a152-c879-4eec-ae3f-39610e295246.png)

[2022-01-19 14:44] bersamtrustyou commented on #1032
@Methuselah96 You're trying it on Jira Cloud which is Atlassian new product. In our case we are using Atlassian JIRA Project Management Software (v7.6.2) and exactly the same issue is happening as @BigsonLvrocha explained with 3.0.4.

[2022-01-19 14:49] Methuselah96 commented on #1032
Alright, I'm publishing a revert, not sure how long it will take to go through (it takes anywhere from a couple hours to a day). If you need Redux DevTools in the meantime you can try out [Redux DevTools - Next](https://chrome.google.com/webstore/detail/redux-devtools-next/oamphgegmigmlgkdnijmeomjenbmkbdg).

[2022-01-19 14:51] haskellcamargo commented on #1032
I'm an Atlassian developer and I can confirm we've got more reports of this issue, and that disabling the Redux extension fixes the issue. Thanks for looking into this.

[2022-01-19 14:55] mejakm opened #1034 "Map object is not supported in redux devtools #3293"
## Minimal reproduction of the bug/regression with instructions:

My state with a Map inside:

![image](https://user-images.githubusercontent.com/14975302/149959152-388d454f-27c5-4f7f-bbee-909815fae78b.png)

After dispatching the action and getting the response in my devtools it shows that my state is empty while in fact it's not.

![image](https://user-images.githubusercontent.com/14975302/149959

[2022-01-19 15:02] Methuselah96 commented on #1032
@haskellcamargo Is there a way for me to test this out so I can figure out what's going on? I'm having trouble figuring out how to access the non-cloud version of Jira.

[2022-01-19 15:28] Aidar-Frontend-Developer commented on #1028
I have noticed that
const store = configureStore({
    reducer: rootReducer,
    middleware: [],
  });

redux-devtools - 3.0.3
behave different with redux-devtools and when it is switched on - it returns Symbol(observable) when it is switched off - it returns @@observable: ƒ observable(), and in one case i need to connect import { from } from 'rxjs/internal/observable/from';
and another case impor

[2022-01-19 15:30] Aidar-Frontend-Developer commented on #1028
import { Observable, from } from 'rxjs';
import { from as strangeFrom } from 'rxjs/internal/observable/from';

let $store;
  try {
    // @ts-ignore
    $store = from(store);
  } catch (error) {
    // @ts-ignore
    $store = strangeFrom(store);
  }

It helped me, but it looks like a hack.

[2022-01-19 15:49] haskellcamargo commented on #1032
All the production tenants I've provisioned seem to be unaffected. I'm only able to reproduce the issue in our internal staging network. I'll post here some details we know about the problem:
- The first error happens in a file with the following expression: `this.vent.on = ...`. With Redux Devtools disabled, `this` has the context of the function. With it enabled, `this` refers to the global `win

[2022-01-19 15:51] camoore1979 commented on #1032
I can confirm that the extension breaks Jira (standard cloud). Specifically, my ability to access Kanban and Scrum boards. I'm able to view and edit tickets but get the following when I go to our scrum board. Disabling the Redux Dev Tools extension fixes the problem & everything works.

<img width="1778" alt="Screen Shot 2022-01-19 at 9 32 31 AM" src="https://user-images.githubusercontent.com/4583

[2022-01-19 15:52] markerikson commented on #1034
FWIW we have _always_ recommend _against_ putting non-serializable values like `Map` and `Set` into your Redux state, and this is specifically one of the reasons why.  Not sure if the NgRx docs list a similar restriction, but here's what we say on the Redux side:

https://redux.js.org/style-guide/style-guide#do-not-put-non-serializable-values-in-state-or-actions

[2022-01-19 15:56] mejakm commented on #1034
I know it's recommended using only serializable objects but unfortunately most of our projects due to their complexity using `Map`and `Set`is a much better idea and it would be great if Redux Devtools would support them for easier debugging

[2022-01-19 15:57] Methuselah96 commented on #1032
Thanks for the helpful info. I'm able to reproduce the `Uncaught TypeError: Cannot read properties of undefined (setting 'on')` error it just doesn't break the view for me. Digging into it.

[2022-01-19 16:00] haskellcamargo commented on #1032
@Methuselah96 no worries! What screen are you on? Do you mind pasting the relative path to it? These files get loaded on pretty much every page, but they're absolutely necessary only for some of them, such as classic backlogs and boards (company managed). It might be the case you're testing on a next-gen board (also known as team managed).

[2022-01-19 16:01] Methuselah96 commented on #1032
I'm on `jira/software/projects/TEST/boards/1`. I just created a test Jira board today to try to figure out what was going on.

[2022-01-19 16:03] haskellcamargo commented on #1032
@Methuselah96 that is a next-gen project, which should be unaffected. Try going to the **Projects** tab and creating a project that is **Company-managed**. It can be either Scrum or Kanban.

[2022-01-19 16:08] haskellcamargo commented on #1032
Awesome! Thanks @Methuselah96.

[2022-01-19 16:11] haskellcamargo commented on #1032
@Methuselah96 by the way, have you published the revert in the meantime? I need to send comms to the team and customers so they know what to expect. Thanks again.

[2022-01-19 16:50] Methuselah96 commented on #1032
Figured out the issue. Redux was importing all of Lodash in https://github.com/reduxjs/redux-devtools/pull/1031 which was setting `window._`. Jira was trying to use `window._` as the underscore library.

[2022-01-19 16:59] antonmordik commented on #1032
As a temporary quick solution for chrome you can enable it only for a specific url

![image](https://user-images.githubusercontent.com/31385311/150177928-ac4dec1c-97b5-49ca-86f2-88f3067065ce.png)

[2022-01-19 17:47] timdorr commented on #1032
We removed lodash in Redux a while ago, though for different reasons. Let me know if you want help reimplementing the functions used there, or if you just want to refactor the whole `persistState` function.

[2022-01-19 17:56] Methuselah96 commented on #1032
Thanks, importing the Lodash from the function entry-points fixes the issue (i.e., `import mapValues from 'lodash/mapValues';` instead of `import _ from 'lodsah';`) so I should be good for now.

[2022-01-19 19:31] willresen opened #1036 "Theme does not save across sessions"
The trace middleware appears to default to the dark theme, but the devtools default to the light theme:

![image](https://user-images.githubusercontent.com/49418430/150200677-65171f08-e893-4af7-8856-ef40bccffc7a.png)

Each session resets the theme preference, so I need to manually set the theme color every time. Am I missing something?

[2022-01-19 19:48] bbsdddougla commented on #1032
It appears that this same issue broke part of another site that uses lodash: mavenlink.com. Specifically: Mavenlink's timesheets control does not load with the error `TypeError: _.pluck is not a function`.

I'll reevaluate after installing the updated plugin.

[2022-01-19 20:21] jonahlibrach commented on #901
I've been suffering form this for a long time. What shows up in the console (the one where I call `yarn remotedev`) shows:

[code]

I'm on a Macbook Air, 10.14.1
And I'm using the Google Chrome debugger accessed at `chrome://inspect` which serves at `http://localhost:9229`.

Maybe there's an argument that can be passed which will persist state on the screen (and perhaps notify the user) when Clien

[2022-01-19 20:22] timdorr commented on #1032
BTW, for folks dealing with this, we are currently waiting on Google to approve the fixed version:

![image](https://user-images.githubusercontent.com/17882/150206916-e6975c7c-2845-4346-8152-7075828c9192.png)

If you need to fix this right now, you've got a few options:

- Disable or uninstall the extension temporarily
- Go to the Chrome Extension settings page and hit the Details button next to R

[2022-01-19 21:15] timdorr opened #1037 "Upgrade to Manifest V3"
https://developer.chrome.com/docs/extensions/mv3/intro/mv3-migration/

While there are a lot of controversies around the new manifest format, I don't believe most affect us. The advantages are getting ahead of enforcement later (we've got a year until V2 extensions stop working) and getting into a faster approval workflow for updates on the Web Store.

Probably the most consequential is the move f

[2022-01-20 04:17] timdorr commented on #1032
Just got word that 3.0.5 is published, so it should be fixed once you get the update. You can hit the Update button on the Extensions page to force it.

I'm going to close this out, but feel free to comment if this doesn't fix things. We can investigate if there is a problem with the update or if there is a separate issue.

[2022-01-20 04:17] #1032 closed

[2022-01-20 05:01] haskellcamargo commented on #1032
Awesome! Great work. I've tested it out and it's working again.
We'll update the [status page for Jira](https://jira-software.status.atlassian.com/) with the great news!

[2022-01-20 05:12] tebeco opened #1038 "Update the edge Version on the store (stuck on 2.17.0 / July 2020)"
Hello

I'm seing that this repo latest version is 3.0.5 while the MsEdge store indicate 2.17.0
The latest release there was `Updated July 31, 2020`
So we're almost 2 year without update.

Is there anything special to do in order to get the extensions update ?

[2022-01-20 05:18] Methuselah96 commented on #1038
I submitted 3.0 to Microsoft Edge Add-ons at the same time as the other browsers. Still waiting to be reviewed after 8 days.
![image](https://user-images.githubusercontent.com/693755/150278091-24d6ef35-e3ac-411c-9e3e-718542e57e60.png)

[2022-01-20 05:20] tebeco commented on #1038
thanks a lot for the super fast answer,
I'm asking that due to the "bug" related to Jira, that hint to update to 3.0.5 ;)

https://jira-software.status.atlassian.com/incidents/5j5754ghwmsl

... because JIRA strikes again
dunno if that submission was 3.0.5 or less ;)

sorry about that, taking the opportunity here

[2022-01-20 05:22] tebeco commented on #1038
bonus point:
Not sure when the change happen but the old manifest/readme point to the old repo I think:
(that might be fixed already)

[2022-01-20 05:29] Methuselah96 commented on #1038
Yeah, the bug is only present in 3.0.4, so you should be good on any other version above or below that. I'll make sure the description gets updated when 3.0 publishes.

[2022-01-20 05:31] tebeco commented on #1038
many thx
Have a good day

I'll let you close this one when the Edge Store is up to date I guess ?

[2022-01-20 09:49] motionltd opened #1039 "Unable to save 'Site access' setting in Google Chrome extension"
The setting is permanently set to 'On click', I did have it set to 'On all sites' by default, but changed it to 'On click' yesterday to get Jira Cloud to work while you were dealing with that lodash issue. Now with version 3.0.5 it's permanently set to 'On click', if I change it, it doesn't save the change.

I have tried uninstalling and reinstalling the extension, I have also tried updating other

[2022-01-20 14:18] Methuselah96 commented on #1038
3.0.2 has been published. Still trying to figure out how to update the description and link. I'll keep this open until I get it in-sync with the latest version in Chrome.

[2022-01-20 14:19] #1030 closed

[2022-01-20 14:22] Methuselah96 commented on #1030
Working on publishing v3.0.6 with this fix.

[2022-01-20 14:25] Methuselah96 commented on #1039
This isn't a setting that the Redux DevTools controls, so I believe this is actually a Chrome bug. I noticed [a Reddit post](https://www.reddit.com/r/chrome/comments/s67ajq/chrome_extension_site_access_settings_stuck_on_on/) where someone has a similar problem.

Let me know if there's anything else I can do to help.

[2022-01-20 14:25] #1039 closed

[2022-01-20 14:36] Methuselah96 commented on #1034
There is an option to enable serializing non-JSON objects (serializing `Map`s is not enabled by default). See the [`serialize` option](https://github.com/reduxjs/redux-devtools/blob/main/extension/docs/API/Arguments.md#serialize) (set `options` to `true`) in order to enable serializing `Map`s for the Redux DevTools extension.

Let me know if that works for you. Closing for now as I believe this is

[2022-01-20 14:36] #1034 closed

[2022-01-20 14:38] Methuselah96 commented on #1006
@droid001 Any updates on whether the demo site works for you?

[2022-01-20 15:48] Methuselah96 commented on #1038
3.0.6 is in review with the updated description and link.

[2022-01-20 16:42] Methuselah96 commented on #1028
I find it very odd that the last code snippet you posted works since `import { from } from 'rxjs';` should be equivalent to `import { from } from 'rxjs/internal/observable/from';` since that's exactly how it's being [exported](https://github.com/ReactiveX/rxjs/blob/78032157f5c1655436829017bbda787565b48c30/src/index.ts#L50) in `index.ts`.

A Zoom call would probably work best at this point. You can

[2022-01-20 16:44] markerikson commented on #1028
I would also put in a plug for using https://replay.io as a debugging option here.  @Aidar-Frontend-Developer could record what they're seeing on the local machine, then share the replay with @Methuselah96 to dig through.

[2022-01-20 16:45] Methuselah96 commented on #1014
@hazeFlame Did that fix your problem?

[2022-01-20 16:46] Methuselah96 commented on #1028
That also sounds great.
@Aidar-Frontend-Developer Do you mind trying out Replay and sending me the recording?

[2022-01-20 18:35] mejakm commented on #1034
Thanks, it works.

I added this line: `serialize: { options: { map: true } }` to the `StoreDevtoolsModule` options in `app.module.ts`

[2022-01-21 02:18] hazeFlame commented on #1014
@Methuselah96 yeah thanks，displayed a few days ago

[2022-01-21 02:26] #1014 closed

[2022-01-21 05:11] Methuselah96 commented on #1032
I wrote up a [postmortem](https://nathanbierema.com/redux-devtools-jira/) for those interested.

[2022-01-21 09:05] dhavall08 opened #1042 "False positive react site when redux-devtools is enabled"
When this **redux devtools** is enabled, in most of the sites, the **react dev tools** indicates that the site uses React even though the site doesn't have React. Disabling this extension shows the correct status in **react dev tools**.
However, it functions correctly in Firefox but not in Chrome. (I tried keeping only these two extensions in incognito).
Example sites to look: https://angular.io/,

[2022-01-21 13:57] Methuselah96 commented on #1042
This is fixed in [3.0.6](https://github.com/reduxjs/redux-devtools/releases/tag/remotedev-redux-devtools-extension%403.0.4) which is being rolled out throughout the day today.

[2022-01-21 13:57] #1042 closed

[2022-01-22 14:34] FaberVitale commented on #1038
Thanks 👍

[2022-01-23 05:04] jonahlibrach opened #1048 "How to resolve `unsafe-eval` issues for extension development"
I'm getting some
![image](https://user-images.githubusercontent.com/9609550/150665529-4fbab168-d392-44ab-9f25-56e8903e4bcf.png)

How do I resolve these issues when building the app with webpack?
Is it a simple modification to the `dev.config.babel.js`?

Albeit unsuccessfully, I tried to follow what was recommended here: https://stackoverflow.com/questions/48047150/chrome-extension-compiled-by-webp

[2022-01-23 14:21] Methuselah96 commented on #1048
Try un-commenting [this line](https://github.com/reduxjs/redux-devtools/blob/main/extension/webpack/base.config.js#L10) in the base config. I don't have time to check if that works right now, but I'll take a look later.

[2022-01-23 21:06] jonahlibrach commented on #1048
Doing that caused this:
![image](https://user-images.githubusercontent.com/9609550/150697979-fcbcfbd9-54c6-4947-9d93-3a6b8579b68f.png)

[2022-01-24 08:32] boobikilopoko opened #1054 "Doesn't work with older version of redux after 3 version."
![Screenshot 2022-01-24 101410](https://user-images.githubusercontent.com/92387637/150745675-46aeb045-e6e1-4c1a-9771-614571cfb7b0.png)
Redux Devtools in Chrome doesn't work after 3 version. I have older version extension in Mozilla(2.17.1), and it work, but new version - not.

My package.json:
    "redux": "^3.0.5",
    "redux-auth-wrapper": "^0.9.0",
    "redux-form": "^7.4.3",
    "redux-thunk":

[2022-01-24 13:34] arnriu opened #1055 "How to import developmentOnly composeWithDevTools from new repo ?"
I used to import like this:

[code]

and in code:

[code]

I tried to change imports to new repo:

[code]

It's working fine for the first line, but I got this for the second line. How do I import with new repo ?

`Module not found: Can't resolve '@redux-devtools/extension/developmentOnly'`

[2022-01-24 19:18] #995 closed

[2022-01-25 09:06] droid001 commented on #1006
@Methuselah96 I see all the immutable values in the demo. And sorry for the late reply.
I'll have a closer look at how the object is populated. Just to mention I had the same experience with Opera 83.0.4254.19

[2022-01-25 09:16] droid001 commented on #1006
I can now report that this is an occasional occurrence as the immutable object is shown correctly. Can this be a memory optimisation on part of the dev tools to not always show a whole immutable object?

[2022-01-25 17:42] taeram opened #1059 "Filter query saved, but not displayed in input on reload"
Expected Behaviour:
1. Open up the Chrome Developer Tools
1. Click the Redux tab
1. See that the "filter..." input is empty, and all actions are displayed
1. In the "filter..." input, type: Fetch
1. See that the results are filtered correctly
1. Reload the page
1. Open up the Chrome Developer Tools
1. Click the Redux tab
1. See that the "filter..." input is empty, and all actions are displayed

Ac

[2022-01-27 13:27] Aidar-Frontend-Developer commented on #1028
@Methuselah96 Where can I send the record of the bug?

[2022-01-28 15:43] jacobbroughton opened #1061 "Filter still active even after closing out window and emptying 'filter...' input"
If you have a filter in the 'filter' input and close out the window, the filter is still active after opening a new window but the input is empty.

Once you type something, it removes the previous filter, even though the input was empty prior to typing.

[2022-01-30 02:04] hecjhs commented on #1048
@Methuselah96 did you have any chance to check what's going on, I'm getting the same error

[2022-01-30 21:10] Methuselah96 commented on #1006
Not that I'm aware of. Is there a particular case that you can reproduce consistently? It'd be great to get to the bottom of this.

[2022-01-30 22:39] Methuselah96 commented on #1010
Resolved in https://github.com/reduxjs/redux-devtools/commit/8b69d7d40f1a799924d336d70e9cdd71ac0b5bc0.

[2022-01-30 22:39] #1010 closed

[2022-01-30 22:42] Methuselah96 commented on #1061
Thanks for creating the issue! Looks like this is a duplicate of https://github.com/reduxjs/redux-devtools/issues/1059, so we'll keep the discussion centralized there.

[2022-01-30 22:42] #1061 closed

[2022-01-31 15:06] costlydeveloper opened #1072 "why did you change anything on so perfect tool?"
I am sorry to say, it is useless at the moment, when the browser page refreshes it becomes blank, the main redux tool becomes blank.
Why colors and themes, now when I want to select the current tab I need to expand it first to see the button then reduce width again, and after the page refreshes it breaks so I repeat those steps instead of coding!

can you please fix it back, so many icons... twitt

[2022-02-01 02:27] Methuselah96 commented on #1048
Is this causing the DevTools to not work? I get the first error when I go to GitHub with the dev build, but the DevTools still seem to work for sites that have the extension enabled.

[2022-02-01 02:30] Methuselah96 commented on #1048
@jonahlibrach Also, just to confirm, are you using Yarn? This repository only works with Yarn.

[2022-02-01 02:42] Methuselah96 commented on #1054
@boobikilopoko Can you show me the code you're using to connect to the extension?

[2022-02-01 02:50] Methuselah96 commented on #1072
I'm sorry that you're having difficulties with the new version of the extension.

I've done a little bit of investigation into this bug and the root issue of the bug has actually always existed even in the old version of the extension. The difference is that as of React 16, [React unmounts the whole React component tree if there's an error](https://reactjs.org/blog/2017/07/26/error-handling-in-rea

[2022-02-01 03:00] Methuselah96 commented on #1036
Just to clarify, is the bug that you're reporting that the colors for the trace tab aren't right for the light theme?

I'm not sure what you mean by "each sessions resets the theme preference." It seems like the theme preferences are persisted between sessions for me.

[2022-02-01 11:39] respectYourNeighbour commented on #1037
I also get some warning regarding this:
- Permission 'notifications' is unknown or URL pattern is malformed.
- Permission 'contextMenus' is unknown or URL pattern is malformed.

[2022-02-01 15:32] Methuselah96 commented on #505
This *should* be fixed now that we've released 3.0, so I'm going to close this. Let me know if this is still an issue and I can reopen it.

[2022-02-02 09:23] moniuch commented on #1059
This has been closed, yet it doesn't appear solved.

![v3 0 9](https://user-images.githubusercontent.com/681956/152126278-6231349c-ebdc-4971-b29b-ca42b2eed23e.png)

Filter `load` that had been applied back in 3.0.5 is still applied after many page reloads.

Fresh update, to 3.0.9, new window, (new font :( )

[2022-02-02 14:54] Methuselah96 commented on #1059
This has not been closed since it's still unsolved.

[2022-02-02 14:57] moniuch commented on #1059
@Methuselah96 You're right, my eye got tricked by the related issue status label :)

[2022-02-02 19:35] willresen commented on #1036
@Methuselah96, that is correct, the trace colors for the light theme are not right, they are always dark. As for the session resetting, perhaps I am doing something wrong. When I switch from light to dark theme, close Chrome, and then reopen Chrome, it has reset back to the light theme. This means I then have to manually switch back to the dark theme whenever I need the trace tab because it is oth

[2022-02-04 05:44] AnupamPrakash commented on #341
+1 to this feature request.

[2022-02-04 08:50] viestursr commented on #1055
Same question. Seems like it's bugged.

[2022-02-06 05:26] #1055 closed

[2022-02-06 05:46] #1059 closed

[2022-02-07 23:31] Methuselah96 commented on #1028
@nmaxim Are you still experiencing this issue?

[2022-02-07 23:36] Methuselah96 commented on #1006
@droid001 Anything else I can do regarding this issue?

[2022-02-07 23:37] Methuselah96 commented on #1048
@jonahlibrach @hecjhs Were you able to check whether this was causing the DevTools to not work?

[2022-02-07 23:38] Aidar-Frontend-Developer commented on #1028
It was fixed by adding polyfill import 'symbol-observable' in root application.

[2022-02-07 23:38] Methuselah96 commented on #1054
@boobikilopoko Any update on whether this is still an issue for you and whether you can share how you're creating your Redux store?

[2022-02-07 23:38] Aidar-Frontend-Developer commented on #1028
We can close this issue.

[2022-02-07 23:38] #1028 closed

[2022-02-08 13:04] wilfredmifsud commented on #1059
Still happening

[2022-02-08 18:46] taylorwoodman opened #1081 "Doesn't automatically follow state anymore"
In the previous version when I'd open my dev tools it'd automatically display the most up to date state object but now I have to click on an action to see what the state is. This makes it so I have to keep clicking actions to keep seeing the most up to date state instead of being able to watch the state object change as I'm dispatching actions

[2022-02-10 09:49] musfiqus commented on #1081
Same here.

[2022-02-10 10:01] GBouffard commented on #1081
Same here as well.

[2022-02-11 03:41] Methuselah96 commented on #1081
I'm having trouble reproducing the issue you're describing. When I click on the State tab with no action selection it shows the latest state which keeps updating. Does it show anything for you when you have the State tab selected?

[2022-02-14 11:57] StringEpsilon opened #1085 "Display mode (tree, char, raw) per view (action, state, diff, ...)"
Most of my time I spend with the devtools, I switch back and forth between "Action" and "State" and occasionally look at the "Diff".

It is a bit annoying that selecting "Tree", "Raw", or "Chart" applies to all the different views at once. Because most of the time, it is easiest (for me) too work with the state in "Tree" mode and the action in "Raw" mode. When I switch back and forth, I now also h

[2022-02-15 13:39] mjbour commented on #1081
Same here

[2022-02-16 07:39] edzis opened #1087 "react-json-tree - Broken import statement in d.ts"
When I use react-json-tree in a project with TypeScript 4.4 I get the following error:
[code]

<img width="744" alt="Screen Shot 2022-02-16 at 09 25 43" src="https://user-images.githubusercontent.com/163636/154216613-736df906-02e6-4350-9c08-84013357e97f.png">

---

If I convert that line to `import type { StylingFunction, StylingValue, Theme } from 'react-base16-styling';` it works without errors.

[2022-02-16 11:28] hadarby opened #1089 "Chrome extension stop update redux states"
Hi,
I am using the extension from **chrome store** and today it just stopped working and updating the store info. the state does update in the app I just can't see it in the extension.
I tried to find a solution to this case hope for any help.

(I'm using redux-toolkit so I created my store with configureStore() and not createStore().)

[2022-02-17 01:22] braco opened #1090 "react-json-tree request/question: getItemString state change on collapsed/expand"
It doesn't seem like it's possible to get the collapsed state of the current node within `getItemString`. Is this true?

The signature seems to be:
[code]

But without knowing the collapsed state, it's not possible to do something like this:

Collapsed
<img width="248" alt="Screen Shot 2022-02-16 at 7 21 49 PM" src="https://user-images.githubusercontent.com/2449172/154385994-bf10f11f-2f00-4500-a1a

[2022-02-17 19:03] gerstej9 opened #1091 "Redux Dev Tools Stopped Working"
I recently noticed the redux dev tools icon is no longer green and is greyed out when pinned to my chrome browser. It also no longer seems to work. Actions do not seem to be recorded and the theme has changed. This was a very helpful tool but I cannot use it anymore as things stand. Any suggestions?
Thank you

[2022-02-17 22:42] Methuselah96 commented on #1090
I think `redux-devtools-inspector` [does something similar](https://github.com/reduxjs/redux-devtools/blob/main/packages/redux-devtools-inspector-monitor/src/tabs/StateTab.tsx#L24-L26) to what you're attempting to do.

Collapsed
![image](https://user-images.githubusercontent.com/693755/154583329-81f65931-e39c-4944-a9b7-eac7a10fe4c3.png)

Expanded
![image](https://user-images.githubusercontent.com/

[2022-02-17 22:50] Methuselah96 commented on #1087
Yup, fair enough, this way of defining imports wasn't added until [TypeScript 4.5](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-5.html#type-modifiers-on-import-names).

[2022-02-17 22:58] Methuselah96 commented on #1006
I'm going to go ahead and close this, but feel free to reply if you have any new information to help reproduce this issue and I can reopen it.

[2022-02-17 22:58] #1006 closed

[2022-02-17 22:58] Methuselah96 commented on #1048
I'm going to go ahead and close this, but feel free to reply if you have any new information to help reproduce this issue and I can reopen it.

[2022-02-17 22:59] Methuselah96 commented on #1089
Do you see any actions in the extension or is it just the state that's not updating?

[2022-02-17 23:03] Methuselah96 commented on #1091
Is it possible that you're using the deprecated `window.devToolsExtension`? `window.devToolsExtension` was [renamed](https://github.com/reduxjs/redux-devtools/tree/main/extension#usage) to `window.__REDUX_DEVTOOLS_EXTENSION__` / `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`.

[2022-02-18 00:08] gerstej9 commented on #1091
Thank you for getting back to me so quickly
Here is some of the code

`import { createStore, applyMiddleware, Store, combineReducers, compose } from "redux"
import { composeWithDevTools } from "redux-devtools-extension"

const composeFunction = LOGGING_DEV_TOOLS ? composeWithDevTools : compose

const createStoreWithMiddleware = composeFunction(
  applyMiddleware.apply(this, [sagaMiddleware, ...sit

[2022-02-18 01:54] markerikson commented on #1091
@gerstej9 while this is totally unrelated to your actual question, I _will_ say that that is an extremely outdated way of calling `createStore` :)  You haven't had to do `applyMiddleware()(createStore)` since [Redux 3.1.0 in January 2016](https://github.com/reduxjs/redux/releases/tag/v3.1.0) :)  There also isn't a need to do `applyMiddleware.apply()`.

If I was going to rewrite that with just the

[2022-02-18 21:38] gerstej9 commented on #1091
Thank you Mark, I'm working on a legacy code base and fairly new to it but that looks like a great suggestion. I will try to implement that when I can and see if it solves the problem. Much appreciated!

[2022-02-20 07:21] hadarby commented on #1089
No. It just stopped working on chrome.

![image](https://user-images.githubusercontent.com/45263492/154832709-d7bc79ab-f665-45db-a1c2-64f8d26620dc.png)

I downloaded Firefox and installed the extension and it works there.
I don't have pending update to chrome.

[2022-02-22 06:20] GreedyA1 commented on #1000
Have the same Issue :(

[2022-02-23 07:35] anton-sementsov commented on #1091
HI, guys. I have the same problem, few days ago Redux devTools stop to show state.

`const store = configureStore({
  reducer: {
    auth,
    ....
    notifications,
    county,
  },
  middleware: getDefaultMiddleware({
    serializableCheck: false,
  }),
  devTools: true,
});`

[2022-02-23 15:57] #1087 closed

[2022-02-23 21:23] maplion commented on #1072
@Methuselah96 I am also experiencing this bug, but worse than losing the UI, even after I reopen it, my entire toolbar no longer functions (Reset, Revert, Sweep, Commit, Record, Pin, etc.) save for the selection option.  The only way I can get it to work again is to reinstall it, so it's basically useless now.  Is there any way to install the old version?

[2022-02-24 00:43] #1091 closed

[2022-02-24 10:24] yaswanthmaddula-sureify commented on #1089
I am also facing the same issue. It just stopped working. Neither can I see the state nor the actions.

[2022-02-24 15:37] djflorio commented on #1081
I've been experiencing the same issue for roughly 1 month. A few weeks ago I uninstalled and reinstalled the extension, and it worked normally for a few weeks before randomly starting this behavior again this morning. I tried reinstalling again, but this time it didn't work.

Here's a gif of the issue. You can see that `workflows/setTotalPageCount` is selected, and when additional actions are fire

[2022-02-24 16:33] junyi-peng-kr commented on #1081
I am facing the same issue here, but it only occurs on the normal mode chrome windows, if I open with incognito mode, the state is always update-to-date.

[2022-02-25 14:04] dai-shi opened #1097 "Possible richer ConnectResponse type in '@redux-devtools/extension'"
Can `ConnectResponse` in `'@redux-devtools/extension'`

https://github.com/reduxjs/redux-devtools/blob/b82de745928211cd9b7daa7a61b197ad9e11ec36/packages/redux-devtools-extension/src/index.ts#L187-L190

be compatible with or imported from

https://github.com/reduxjs/redux-devtools/blob/b82de745928211cd9b7daa7a61b197ad9e11ec36/extension/src/app/api/index.ts#L522-L536

which seems more precise?

[2022-02-25 14:35] Methuselah96 commented on #1097
Yes, good catch. Ideally we would share all the types, but I'm not sure how straightforward that will be. Feel free to open a PR to update them and/or share them.

[2022-02-25 16:14] Methuselah96 commented on #1081
Some diagnostic questions:

- Can you try out [this counter example](https://methuselah96.github.io/redux-devtools-counter-example/) to see if the bug is happening on all Redux applications?
- Does this bug happen for all three of the different ways of opening the Redux DevTools?
  - The Chrome DevTools tab
  - The panel that can be opened through the extensions toolbar
  - The new window that can

[2022-02-25 16:35] mjbour commented on #1081
this solution worked for me, Thank you!

[2022-02-25 16:38] djflorio commented on #1081
@Methuselah96

- Can you try out [this counter example](https://methuselah96.github.io/redux-devtools-counter-example/) to see if the bug is happening for all Redux applications?
  - Yes, the bug happens with this example.
- Does this bug happen for all three of the different ways of opening the Redux DevTools?
  - The Chrome DevTools tab
    - Yes
  - The panel that can be opened through the exte

[2022-02-25 16:45] Methuselah96 commented on #1081
@djflorio Thanks for the info. If you don't mind, can try:

1. Open the panel through the extensions toolbar.
2. Right-click > Inspect to open the Chrome DevTools for the extension.
3. Go to the Application tab.
4. Expand IndexedDB, click on "localforage - chrome-extensions://lmhk...".
5. Delete database.
6. Close out Chrome and reopen and see if the bug persists.

I'm not sure if this will do any

[2022-02-25 16:50] djflorio commented on #1081
@Methuselah96 No problem. I performed those steps, and unfortunately there's no change.

[2022-02-26 18:27] jonahlibrach opened #1099 "Is there any way to color / custom style the actions?"
I use redux-devtools to run all my tests and many times there are special actions that I'd like to color green or red so I can visualize/find them more easily.

I already use emojis to sanitize different types of actions, so unfortunately that won't help here.

Any ideas about what I can do?
I'm thinking that I could pass a color argument into the action (or action sanitizer) and the action would

[2022-02-26 19:52] Aslemammad opened #1100 "Trace function does not get `action` arg"
Hey, In docs mention that `trace` function gets the action as an argument! but in this repro, it doesn't!

[codesandbox](https://codesandbox.io/s/blissful-merkle-3lmnzo?file=/src/App.tsx), check out the logs.

Thanks for the amazing extension!

[2022-02-27 13:53] djflorio commented on #1081
@Methuselah96 No problem at all, thanks for digging in and finding the issue! Yep you're right; if I first select an action and then de-select it, the state tree remains up-to-date as more actions are fired.

For some reason I thought that it was supposed to actively highlight the latest action in the list, as well as show the most updated state tree, but this makes more sense; if you have an acti

[2022-03-01 13:37] pcdummy commented on #496
This works for me:

[code]

[2022-03-01 22:19] hecjhs commented on #1048
@Methuselah96 I'm still having issues with this, can you provide documentation on how I should run this on dev mode?

[2022-03-02 00:33] Methuselah96 commented on #1048
Is this causing the DevTools to not work? I get the first error when I go to GitHub with the dev build, but the DevTools still seem to work for sites that have the extension enabled.

[2022-03-02 00:47] hecjhs commented on #1048
yes, when I load the extension on dev mode as is suggested [here](https://github.com/reduxjs/redux-devtools/tree/main/extension#installation), the DevTools is not working, so I've tried to change [this line](https://github.com/reduxjs/redux-devtools/blob/main/extension/webpack/base.config.js#L10) as you suggested, but I have no luck with that

[2022-03-06 13:46] cvlmtg opened #1106 "Can't use advanced API with typescript"
Hi, I'm trying to use `@redux-devtools/extension` v3.2.2 in my project with the advanced api (https://github.com/reduxjs/redux-devtools/blob/main/extension/docs/API/Methods.md) but typescript is giving me an error:

*(typescript) Error: /Users/matteo/dev/monarc/src/with-dev-tools.tsx(115,34): semantic error TS2339: Property 'subscribe' does not exist on type 'ConnectResponse'.*

looking at `node_m

[2022-03-07 14:58] JaapioNL opened #1107 "Out of Memory randomly on pages"
After installing this plugin pages I noticed that chrome started giving "Out of Memory" error pages while visiting pages with react. Not all of the times but some times. After uninstalling the plugin the error message didn't show up anymore. Am I the first to experience this?

Is there anything I can supply to help figure out what is going wrong?

[2022-03-09 15:31] Methuselah96 commented on #1107
Is your state large? Take a look at [this FAQ](https://github.com/reduxjs/redux-devtools/blob/main/extension/docs/Troubleshooting.md#excessive-use-of-memory-and-cpu). Does that answer your question?

[2022-03-09 15:32] Methuselah96 commented on #1106
Yes, this is a duplicate of https://github.com/reduxjs/redux-devtools/issues/1097. Feel free to make a PR to update the types. Closing this in favor of the earlier issue.

[2022-03-09 15:32] #1106 closed

[2022-03-09 16:49] JaapioNL commented on #1107
Oops, looks like I posted in the wrong tab. @Methuselah96 thanks anyway :-)

[2022-03-09 16:49] #1107 closed

[2022-03-11 12:37] maquarius commented on #1072
@maplion  Here they have instructions to install the old version: https://github.com/reduxjs/redux-devtools/tree/main/extension#installation. (or: Readme>Documentation>Browser Extension Installation and Configuration>Readme>Installation

[2022-03-11 17:28] PetarKirov commented on #1081
That was the solution for me as well.

@Methuselah96 I (like I presume others experiencing this issue) didn't know that it was possible to deselect the selected action simply by clicking on it. What I tried (and what I thought was the most logical) was to click on the empty space below the last action, as in most UI list implementations that usually deselects (all) selected items.

[2022-03-11 18:34] Methuselah96 commented on #1081
Frankly, I didn't know either until looking at the source code. Happy to accept PRs to improve the situation, I don't have as much time for open-source these days.

[2022-03-16 05:10] gamedevsam commented on #1089
Same, I get actions and their names, but the state doesn't reflect what's in my stores anymore.

[2022-03-16 11:49] Methuselah96 commented on #1089
@gamedevsam You may be experiencing https://github.com/reduxjs/redux-devtools/issues/1081.

[2022-03-23 08:08] sehrish30 commented on #1081
Updating @redux-devtools/extension worked for me

[2022-03-23 14:48] banderberg commented on #1081
I don't know what they did but this big update essentially ruined what used to be a great tool..

[2022-03-27 15:00] david-shortman opened #1113 "Expose extension open/closed status"
Currently, apps utilizing this extension send data to the devtools whether or not they are open.

This potential performance impact is not mitigated by `autoPause`, which only stops the devtools from processing messages when the extension is closed.

`__REDUX_DEVTOOLS_EXTENSION__` should provide a property or some mechanism to discover whether the devtools are open so that consumers do not bother

[2022-03-29 17:30] mrpmorris opened #1114 "Request: Ability to send a value for `trace`"
Thanks for an excellent tool!

I have written middleware for [Fluxor](https://github.com/mrpmorris/fluxor) (a flux library for .net Blazor) which integrates with your tool.

I have been requested to add support for `trace`, but this would show the JavaScript stack trace when what I need to be able to do is to pass a string from .net saying what the .net stack trace is.

Would it be possible to add

[2022-03-30 08:32] bruvvn opened #1115 "Impossible to call reviver without immutable prop set"
### @redux-devtools/extensions

There is an issue when a `reviver` is set inside of devtools extensions `serialize` options and `serialize` option `immutable` is not set.

**Reviver will never get called if immutable is not set**.

It seems that the conditional is somehow mixed up due to typescript migration (#756).
Before the condition was checking for `serialize.reviver` now it checks for `!!ser

[2022-03-30 13:08] #1114 closed

[2022-03-30 22:55] Aslemammad commented on #1100
Any update on this? any work needed in case?

[2022-03-31 10:25] 1Jesper1 commented on #433
Would be nice!

[2022-03-31 15:54] larsilus commented on #431
Hi [Methuselah96](https://github.com/Methuselah96) thanks for the support for this nice tool. I still have always the problem, that using a Set in my states pops up as an empty object.
And Set is a quite standard/basic datastructure, that should be shown in the devtools. I and probably a lot of people who use Set in their state, think something is wrong, as it shows the state as {}, but still valu

[2022-04-03 22:05] #1081 closed

[2022-04-05 13:51] cesarvargas00 opened #1125 "@redux-devtools/cli not installing on macOS"
I'm getting some errors with `sqlite3`

**Specs:**
![image](https://user-images.githubusercontent.com/742797/161768935-129737db-977f-4a58-84a1-1f381f49e50d.png)
**Error:**
[code]

[2022-04-05 14:10] Methuselah96 commented on #1125
Looks like this is caused by https://github.com/mapbox/node-sqlite3/issues/1552.

[2022-04-05 23:35] markerikson opened #1126 "Improve RTK Query monitor to focus more on data"
Quoting user feedback in https://github.com/reduxjs/redux-toolkit/discussions/2206 :

Here's the current UI:

![image](https://user-images.githubusercontent.com/1128784/161867771-8a25152a-0fa3-49ab-829e-a4027fb602e8.png)

I think it might be worth having, say, "Data" and "Cache Entry" (TBD?) tabs.  One way or another, the actual data _should_ be immediately visible as soon as you click on the requ

[2022-04-06 12:35] Bezmehrabi commented on #1126
Hi! Can I give it a try?

[2022-04-06 13:59] Methuselah96 commented on #1081
It looks like there are still some cases where this is an issue even with the changes in the attached PR. Need to look into this again some more.

[2022-04-06 15:28] markerikson commented on #1126
@Bezmehrabi Sure, please do!

My initial thought here (and @Methuselah96 or @FaberVitale please correct me if you have better ideas) would be that we add a new "Data" tab that shows _just_ the result data (and _maybe_ the "status" field too?), then make that "Data" tab the default.  We can leave the existing "Query" tab as-is, but users would have to click to it specifically to see the other detai

[2022-04-06 17:31] Bezmehrabi commented on #1126
what do you think about showing the "status" and either "data" or "error" (depending on whether request succeeded or not)?

[2022-04-06 18:22] markerikson commented on #1126
That seems good to me, yeah. In other words, let's focus on those. the two most critical pieces of info we care about with the request: status and contents.

[2022-04-07 18:17] Bezmehrabi commented on #1126
Hi, I did it and here's the UI:

![rtk-data](https://user-images.githubusercontent.com/46019949/162269059-d3b74eae-03b5-402e-a17d-acfd286499b9.png)
![rtk-data-full](https://user-images.githubusercontent.com/46019949/162269064-4848b7ed-b20b-4591-8bc5-0263a263bbef.png)

couple of questions:

1. right now the logic is:  if `status` is `fulfilled` show `data`, if it's `rejected` show `error`, otherwis

[2022-04-07 18:22] markerikson commented on #1126
This seems pretty reasonable to me!  This may be what you're doing already - I'd suggest ensuring that _if_ there's a `data` or `error` field, that it starts expanded by default if it's an object or an array.  Might as well save users that first click :)

And yeah, function components are good here.

[2022-04-07 18:34] Bezmehrabi commented on #1126
Yeah it's happening already :)

Alright then! Will add a couple of test for it and make the PR.

Thanks.

[2022-04-08 01:34] jonahlibrach opened #1127 "Multiple actions selected simultaneously"
I expect to be able to select different instantiations of actions, but I no longer can

![image](https://user-images.githubusercontent.com/9609550/162345741-c5fe3364-3564-4bee-b89e-6204770cb166.png)

[2022-04-08 07:15] Bezmehrabi commented on #1126
Ok, I wanted to start writing tests for it but I noticed that `redux-devtools-rtk-query-monitor` has no test.
is it something intended??
If not so, I will add test configs and stuff.

[2022-04-08 14:53] markerikson commented on #1126
I'm not familiar with the code in this repo, so I don't know what the test setup is like atm. Adding tests does seem reasonable.

[2022-04-08 17:19] FaberVitale commented on #1126
There's not currently enough horizontal space for a "data" tab.

<img width="710" alt="Screenshot 2022-04-08 at 19 12 07" src="https://user-images.githubusercontent.com/16583125/162489895-cc2cd664-d76f-4042-8966-6f6df8a486b8.png">

[2022-04-08 17:26] markerikson commented on #1126
Hmm. tbh I've _never_ used the DevTools from that button :)  I always keep the entire browser devtools popped out as a separate top-level window.

Honestly, I see "view data" as _far_ more important than "tags" or "actions"  That should be the highest priority thing.

If anything, the DevTools UI should be made more responsive so that if there isn't enough room, it moves the rest of the tabs into

[2022-04-08 17:41] markerikson commented on #1126
Personally, I'd say ship the update basically as-is for now, and handle the tabs responsiveness in a follow-up issue.

[2022-04-08 20:38] Bezmehrabi commented on #1126
I made the PR :))).

[2022-04-08 20:41] Bezmehrabi commented on #1126
I also faced the `framer-motion` problem of demo.
It's a temporary issue because of webpack version 5.71 (It's works fine with 5.70).
so I don't think downgrading the `framer-motion` is necessary.

[2022-04-09 15:13] Methuselah96 commented on #1126
@FaberVitale Since @Bezmehrabi expressed his intent to work on this task first, can you help review their PR and then you can make any changes you would like in a follow-up PR?

[2022-04-13 14:58] Methuselah96 commented on #1125
@cesarvargas00 This should be fixed now. Can you confirm?

[2022-04-16 03:54] codercodingthecode commented on #373
This is my own custom build.
I was tired of not being able to see the full picture of the data, I care more about the data than the updates on the left most of the time.
From what I read, they really don't want to do it, otherwise, I will be happy to open a pr,
If anyone else wants it, it will be on my GH.
I will be adding some extra features over the course of the upcoming days.
Like a snap-in bu

[2022-04-16 22:08] Bezmehrabi commented on #1126
any updates on this?

[2022-04-19 08:07] yoyo837 opened #1138 "Audit usage of navigator.userAgent, navigator.appVersion, and navigator.platform"
A page or script is accessing at least one of navigator.userAgent, navigator.appVersion, and navigator.platform. Starting in Chrome 101, the amount of information available in the User Agent string will be reduced.
To fix this issue, replace the usage of navigator.userAgent, navigator.appVersion, and navigator.platform with feature detection, progressive enhancement, or migrate to navigator.userAg

[2022-04-23 09:05] GeorchW opened #1142 "DevTools are blank in Firefox"
Hi,

I have the issue that the DevTools don't show anything in Firefox. I'm doing the following:

1. Open a site that uses Redux (e.g. the examples from this repository)
2. Press F12 to open the dev tools (the Redux tab appears)
3. Click the Redux tab

The result is that the Redux tab just stays at its dark-blue color and doesn't load anything. Clicking the Redux DevTools Icon in the address bar y

[2022-04-23 09:26] GeorchW commented on #1142
Nevermind, uninstalling and reinstalling the devtools made them work again. Disabling and re-enabling, on the other hand, was not enough.

[2022-04-23 09:26] #1142 closed

[2022-04-23 20:30] joemart commented on #1081
I'm also experiencing the same issues

[2022-04-25 16:59] DanielCashlink commented on #378
I know this thread is somewhat dead, but I wonder if there's a way to differentiate between the `replaceReducer` used by the hot reload and user usage of the `replaceReducer` function. It's actually really annoying having to set `shouldHotReload` to false, simply because I'm trying to code split my reducers and use the devtools.

[2022-04-28 09:12] npmmirror opened #1146 "Git.io deprecation notice"
Hello, I've found that some of your files in this repo is still using https://git.io/, and this service will be discontinued in the future. (ref: [Git.io deprecation](https://github.blog/changelog/2022-04-25-git-io-deprecation/))
Theses files are: extension/src/app/api/index.ts

[2022-04-28 14:40] SukkaW commented on #1146
Will be fixed by #1145.

[2022-04-28 15:07] #1146 closed

[2022-05-03 18:19] dawidglap opened #1147 "1.1 BASIC STORE"
createStore is actually deprecated
<img width="680" alt="Screenshot 2022-05-03 at 11 17 12" src="https://user-images.githubusercontent.com/81537977/166517370-b58cab8d-6fdd-48ea-85a2-2617a9e4c792.png">

[2022-05-11 13:11] Dhruv-praju opened #1156 "PROBLEM with configureStore"
Devtool is not working with **configureStore** .
`
import { configureStore } from '@reduxjs/toolkit'
const store = configureStore(rootReducer,  window.__REDUX_DEVTOOLS_EXTENSION__ && window.__REDUX_DEVTOOLS_EXTENSION__())
`

[2022-05-11 15:56] #1156 closed, assigned to nobody

[2022-05-17 12:30] IrwinJuice opened #1169 "Set() is displaying as { }"
Hi,
In Redux DevTools version 3.0.11 'Set()' is displaying as { }
Is it Ok, or this is a bug? I have never used this tool befoure.

![image](https://user-images.githubusercontent.com/17815703/168808345-1cc7923e-1f79-4aae-9855-184ec08cf563.png)

consol.log to show that Set of roles has values.
![image](https://user-images.githubusercontent.com/17815703/168808494-30c8207f-84af-4ce2-a502-f65e0f7a5eb0

[2022-05-17 12:53] Methuselah96 commented on #1169
In order to view `Set`s and `Map`s you need to enable the [`serialize` option](https://github.com/reduxjs/redux-devtools/blob/main/extension/docs/API/Arguments.md#serialize) (set `options` to `true`). Note that the Redux Style Guide [suggests not putting `Set`s and `Map`s in state](https://redux.js.org/style-guide/#do-not-put-non-serializable-values-in-state-or-actions).

[2022-05-17 12:55] IrwinJuice commented on #1169
Thank you!

[2022-05-17 12:55] #1169 closed

[2022-05-19 12:00] jeevan900929 commented on #1036
+1

I am only able to see the text when highlighted
![React Redux App - Google Chrome 2022-05-19 19 59 4](https://user-images.githubusercontent.com/2005277/169288577-c03350fa-ccdd-4d45-b22d-ce55e665e708.png)

[2022-05-24 13:47] ozkoidi commented on #1081
Similar issue here, the extension used to work some time ago. When I tried today (on Chrome 100.0.4896.88) I don't see any logs or actions and state is `undefined`.

![image](https://user-images.githubusercontent.com/42638799/170048777-214e1015-1211-4f80-9644-3cf855ad68cc.png)

- I can't use the workaround of clicking an action because there are no actions.
- I don't have anything on indexDB
- I d

[2022-05-25 02:17] losh11 commented on #1156
hey @markerikson I'm in the middle of migrating to a newer version of redux, with createStore being removed instead for `configureStore({reducer: persistedReducer})`. will this change also mean DevTools-extension is ready to use?

https://redux.js.org/usage/configuring-your-store#integrating-the-devtools-extension If so the redux documentation is really confusing? I believe this is trying to expla

[2022-05-25 02:25] markerikson commented on #1156
@losh11 Yeah, we ought to update that docs page some.

Short version is, `configureStore` automatically sets up the Redux DevTools integration, no further effort needed on your part - just do `configureStore({reducer: rootReducer})` and that's it.

[2022-05-30 03:54] kolban-google opened #1179 "Support for React 18"
I tried to install `react-json-tree` on my React 18 environment and it failed.  Do we have plans for a React 18 release?

[code]

[2022-05-30 10:34] FaberVitale commented on #1179
Hi @kolban-google,

Have you tried to change the `react-json-tree` peer dependencies using [patch-package](https://www.npmjs.com/package/patch-package)?

[code]

Can you please report if it works?

@Methuselah96 we should consider a gradual migration to functional components and add react-18 as peer dependency.
We could start from smaller libs: `react-json-tree` for instance :).

[2022-05-30 13:25] Methuselah96 commented on #1179
Yeah, I was hoping to upgrade the devDependencies to React 18 at the same time [here](https://github.com/reduxjs/redux-devtools/pull/1165), but there's still a few packages with old peerDependencies. I'll create a PR to just update the peerDependencies for now.

[2022-05-30 15:32] #1179 closed

[2022-05-30 19:37] chainalert-bot opened #1184 "ChainAlert: npm package release (3.13.0) has no matching tag in this repo"
Dear [@redux-devtools/core](https://npmjs.com/package/@redux-devtools/core) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (3.13.0) of [@redux-devtools/core](https://npmjs.com/package/@redux-devtools/core) was published without a matching tag in this repo**.

As part of our efforts to fight software sup

[2022-05-30 23:54] Methuselah96 commented on #1184
[Release build](https://github.com/reduxjs/redux-devtools/runs/6659901718?check_suite_focus=true) is failing, looking into it.

[2022-06-05 13:51] Methuselah96 commented on #1184
https://github.com/reduxjs/redux-devtools/releases/tag/%40redux-devtools%2Fapp%402.2.0

[2022-06-05 13:51] #1184 closed

[2022-06-17 06:42] walcivar opened #1190 "react-json-tree: Is it possible to add a checkbox on the left of each node?"
Hi

I would like to know if is it possible to add a checkbox on the left of each node because I need to select some nodes. If it's possible how I can do that?

Thank you

[2022-06-23 08:10] coder-fang commented on #233
I also have this question,but I don't know how to solve it.
![image](https://user-images.githubusercontent.com/61582057/175249487-2a6122bc-48cd-4b1c-ad8e-d5c23cab5646.png)
![image](https://user-images.githubusercontent.com/61582057/175249653-092dd56e-e917-4d45-9970-c4843d06ab1a.png)

[2022-06-23 11:55] Methuselah96 commented on #233
@coder-fang Can you show me the code where you pass in the reducers?

[2022-06-27 01:28] jsy135135 commented on #1147
I think you try  import { legacy_createStore as createStore } from 'redux'

[2022-07-05 13:31] #1126 closed

[2022-07-14 11:24] Asscobara opened #1198 "The dev tool does not work"
The error I get from the dev tools on the extension window:

window.bundle.js:2 TypeError: Cannot read properties of undefined (reading 'action')
    at o.value (window.bundle.js:2:1651470)
    at o.value (window.bundle.js:2:1650604)
    at ds (window.bundle.js:2:153189)
    at Pu (window.bundle.js:2:169890)
    at t.unstable_runWithPriority (window.bundle.js:2:1032894)
    at $o (window.bundle.js

[2022-07-14 14:13] ozkoidi commented on #1081
@rgutt, is working again for me.
The problem in my case was that on my Angular app the import of `StoreDevtoolsModule.instrument()` on _ra-app.module.ts_ was moved up within the list.
Once I put it back on the last position of the `imports` array of the `NgModule` (after the import of `StoreModule.forRoot()`) I was able to see the actions and the state again in the Redux Chrome extension.

[2022-07-15 17:27] bipin1611 opened #1199 "state reducers not showing correct state as seen in logger"
Hello there,

I am facing weird issue on redux devtool,

I created 3 reducers
![image](https://user-images.githubusercontent.com/66408694/179276372-a42f43f5-abbd-4a2b-8ac9-05b370ac73a8.png)

But when i check on redux devtool it showing last 2 reducers
![image](https://user-images.githubusercontent.com/66408694/179276582-ff42e690-741f-4b11-84ce-37218d3bfb04.png)

Can someone please help here?

[2022-07-15 19:58] markerikson commented on #1199
@bipin1611 : can you put together a project that actually reproduces this issue?

From the screenshot, it looks like you might be putting some non-serializable values into the Redux store, like class instances.  That's bad, because those _won't_ show up in the DevTools - this is the main reason why we tell people not to do that :)

[2022-07-17 03:59] bipin1611 commented on #1199
Hello Mark,

I appreciate your response, But i am in learning stage, can you please help me here.

Here is my reducers

[code]

and i triggered action like this,
[code]

and last here is how i dispatch action,

[code]

Thank you!!

[2022-07-17 04:27] markerikson commented on #1199
Based on that original screenshot, I'm guessing that `exchangeContract: Contract` and `connection: Web3` are actually class instances.  Those _should not_ go into the Redux store - only plain JS objects and arrays.

Also, as a side note: you're writing a _very_ old style of Redux code.  "Modern Redux" with Redux Toolkit is much easier to learn and use.

Please see our Redux docs tutorials for more

[2022-07-20 07:05] assadali007 opened #1202 "redux-devtools issue not install"
npm install redux-thunk redux-devtools-extension
does not install i try many time
this error have come
npm ERR! code EINVALIDTAGNAME
npm ERR! Invalid tag name "^13n.3.0": Tags may not have any characters that encodeURIComponent encodes.

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/asadali/.npm/_logs/2022-07-20T07_04_04_662Z-debug.log
192:react-ecosystem asadali$

[2022-07-20 14:29] louwers opened #1203 "Allow changing height of dispatcher"
The dispatcher panel is not very tall (just three lines are visible for me).

It seems that the height is not adjustable. Would be great if it was. Even just a button to toggle it between small and big would be very helpful.

![image](https://user-images.githubusercontent.com/649392/180007561-de7f2716-9211-4987-9ce4-c10b2978aa62.png)

[2022-07-21 23:38] ZahraRahmani opened #1204 "Make the remote redux devtool work for physical devices or emulators"
Is there a way to set up redux devtool for android/ios physical devices? Running an app with ionic serve will show the state and actions on the browser, I was looking for a way to make it work for the actual devices or emulators. I have been following https://gist.github.com/rob3c/c2c4dcc1116f94901ace179722c5f6d4 and https://medium.com/nextfaze/remote-debugging-ngrx-store-with-ionic-74e367316193 i

[2022-07-25 21:09] symbiont-matthew-pirocchi opened #1205 "All of the images in the `react-json-tree` README are broken links."
All of the images in [this document](https://github.com/reduxjs/redux-devtools/blob/main/packages/react-json-tree/README.md) are broken links. The document is intended to contain examples of how various options affect rendering, and is difficult to follow without these examples.

[2022-08-09 11:33] snuup opened #1207 "The typescript hints and links in the README are broken"
For TypeScript use [redux-devtools-extension npm package](https://github.com/reduxjs/redux-devtools/tree/main/extension#13-use-redux-devtools-extension-package-from-npm), which contains all the definitions, or just use (window as any) (see [Recipes](https://github.com/reduxjs/redux-devtools/blob/main/docs/Recipes.md#using-in-a-typescript-project) for an example).

The recipe is 404
The link point

[2022-08-15 04:09] HouCoder commented on #1198
I had to reinstall the extension to make it work.

[2022-08-17 03:04] komali2 commented on #1198
I'm having this error now. It will take time for me to produce a working, shareable example, as our app is massive (and, sadly, proprietary). In doing so, perhaps I will simply discover the issue? So I will post what I can here for now, and hope to expedite the finding of that solution.

[code]

Redux devtools version: Version
3.0.11

Chrome version Version 103.0.5060.114 (Official Build) (64-bit)

[2022-08-17 18:35] jonahlibrach opened #1215 "Feature request: find/goto last event which altered part of state"
Would save a lot of time to be able to right click on a property of state and find out which events led to a change in the value at that state.

[2022-08-19 09:55] piechoo commented on #378
Still running into this issue, which is really annoying, is there any progress with it ?

[2022-08-24 20:52] smacpherson64 commented on #599
Have a related issue but with the `--open` flag. When opening in the browser or electron the protocol and hostname are not respected. I am able to manually navigate to it in the browser:

Here is an attempt to resolve the `--open` flag part of this:
https://github.com/reduxjs/redux-devtools/pull/1217

[2022-08-25 04:44] phihochzwei opened #1218 "Selecting Chart-Tab breaks DevTools"
Hi there,

we are using the DevTools in Chrome to debug our  NGRX-based Angular project. Everything works fine except if you choose to click on the "Chart"-Tab. If you do so, the whole thing turns grey, all UI elements disappear and you have to reinstall the devtools. This worked in the past, but I havent used it in a while, so I cant tell you the exact day, it started to behave like this.

Anyone

[2022-08-26 15:51] chipallen2 commented on #1198
Any advice on how to get around this error. I tried reinstalling the extension in chrome but the error still persists?

[code]

Which seems to be this line of code in the

[code]

[2022-08-31 18:20] ryanflowers commented on #1125
@Methuselah96 this error exists in the latest published package

[code]

[2022-08-31 18:41] ryanflowers commented on #1125
This still fails for me https://github.com/TryGhost/node-sqlite3/issues/1552

[2022-09-05 08:25] tjx666 opened #1224 "[cli]Worker 0 exited - Exit code: null, signal: SIGBUS"
![image](https://user-images.githubusercontent.com/41773861/188403225-16f12885-0e41-451a-957c-659bca8258d7.png)

[code]

[2022-09-06 14:44] chrisbward commented on #380
Fighting CSP has been the bane of my career and this issue has defeated me. Seppuku time lol

[2022-09-16 02:46] komali2 commented on #1198
I have reinstalled redux dev tools one final time, and now it works? `3.0.11` is still the same version lol, maybe a chrome update fixed it?

[2022-09-18 07:20] drpicox commented on #1036
+1

[2022-09-19 15:16] codylewis opened #1229 "redux-devtools are not showing actions within Firefox DevTools inside the Redux DevTools panel"
## Versions

- Firefox Developer Edition 105.0b9 (64-bit)
  - Also happen in Firefox (regular) 104.0.2 (64-bit)
- Redux DevTools 3.0.11
- Window 10
- Intel i7

## Issue

redux-devtools are not showing actions within Firefox DevTools inside the Redux DevTools panel.

![image](https://user-images.githubusercontent.com/14844346/191049961-858e41bc-8524-4999-a897-f78e2aa04b8b.png)

I am able to see thi

[2022-09-20 11:18] trytuna commented on #678
Any update on this?

[2022-09-21 09:27] Zombobot1 opened #1230 "Your npm page contains a link to CRYPTO CASINOS"
On react-json-tree page there is a link that leads to crypto gambling:

<img width="161" alt="image" src="https://user-images.githubusercontent.com/48030070/191468074-5ca54835-0960-474b-b13f-f257d2098cda.png">

[2022-09-21 13:57] Methuselah96 commented on #1230
Thanks for the heads-up, should be resolved by https://github.com/reduxjs/redux-devtools/pull/1231.

[2022-09-21 14:13] #1230 closed

[2022-09-27 08:13] jasomimo commented on #437
I've experienced same issue. Storing a data with circular dependency in NgRx store and Redux Devtools started to crash. Pls any chance for this bug to be addressed? Or at least mention this somewhere in documentation or QA section.

[2022-09-29 10:45] Sotirios-Tassis opened #1232 "Chrome ( version 106.xxx) tab page freezes after Redux opens to see any store"
- Update Chrome to its latest version
- Go to web application that has Redux store
- Open DevTools and go to Redux tab
- The Tab page freezes

[2022-10-09 15:02] xoka4 opened #1238 "Can I modify/edit a value manually in redux-devtools without using a reducer?"
Is there any way to modify/edit a value in redux-devtools without using a reducer?
( Previously asked here: https://github.com/zalmoxisus/redux-devtools-extension/issues/502 )
Thanks

[2022-10-11 22:29] dvaldivia commented on #678
@Methuselah96 any luck? anything we can help with? I can gladly try and port some of the needed code if you point me in the right direction

[2022-10-12 11:54] Bartel-C8 commented on #1198
In my case I got this stack trace:

[code]

Which maps to this line: https://github.com/reduxjs/redux-devtools/blob/main/packages/redux-devtools-slider-monitor/src/SliderMonitor.tsx#L333

[2022-10-26 11:56] Bartel-C8 commented on #1198
This is really annoying. Can't really get around it. Is there a possible fix?

Maybe it's fixed already, but there hasn't been a new version pushed to the Chrome Web Store since 3.0.11

[2022-10-26 12:16] Methuselah96 commented on #1198
Is it possible that you're dispatching an `undefined` action?

[2022-10-26 12:36] Bartel-C8 commented on #1198
Could be, but not intentional at least. How could I find this out?
(Typescript project, so I suspect typescript should complain anyway when dispatching an undefined action?)

But, I do have multiple filters/sanitizers in place for Redux (in order to get better Redux Devtools performance):
I am using: `actionsDenylist`, `actionSanitizer, `stateSanitizer` and  `predicate`.

Strange thing is that I h

[2022-10-26 12:40] Bartel-C8 commented on #1198
But shouldn't this line https://github.com/reduxjs/redux-devtools/blob/main/packages/redux-devtools-slider-monitor/src/SliderMonitor.tsx#L333 just not get an extra check that if `actionsById[actionId]` is undefined that `actionType = '<UNDEFINED>'` ?

[2022-10-26 13:13] Methuselah96 commented on #1198
Maybe, or maybe it indicates there's a bug somewhere else. I believe the intention is that the action should never be `undefined`.

[2022-10-26 13:20] Methuselah96 commented on #1198
Can you try [deleting the IndexedDB for the devtools](https://github.com/reduxjs/redux-devtools/issues/1081#issuecomment-1051016533) and see if that changes anything?

Can you give me more details about when it crashes? Does it happen as soon as you open the devtools, or does it work initially and then crash?

[2022-10-26 15:13] Bartel-C8 commented on #1198
Commenting out `actionsDenylist` (was named `actionsBlacklist` before) did the trick for me.
I already was using `predicate` as well to filter out actions, so maybe it was a bug there?

But what I think could be happening(?):
I have set a latency of 2000ms. And I am dispatching fairly many actions. One of them was being blacklisted in `actionsDenylist`. Could it be that the dispatching of some oth

[2022-10-26 16:25] philipjc commented on #1081
I've also experienced this today. For me turning off the extension and closing the tab, starting a new tab and turning the extension back on worked for me. I think it started when I started interacting with the Action tab, so I am going to leave it alone :)

[2022-11-08 03:40] jessfeliciano commented on #1147
Wouldn't using `createStore` not be recommended since it's no longer supported by redux?

[2022-11-08 03:40] jessfeliciano commented on #1147
Wouldn't using createStore not be recommended since it's no longer supported by redux?

[2022-11-08 04:12] markerikson commented on #1147
Yeah, the _ideal_ answer here is "just use Redux Toolkit's `configureStore` API that does this for you automatically":

[code]

The example at https://github.com/reduxjs/redux-devtools/tree/main/extension#installation is still valid code, just not how we'd prefer that people set up and use Redux:

- https://redux.js.org/introduction/why-rtk-is-redux-today

[2022-11-09 12:05] moniuch opened #1274 "Replay an action with edit"
I would love to be able to select an action from the history, bring it into the action editor (to optionally edit the payload) and dispatch. I couldn't find a similar functionality in the current version (Skip and jump being the only options).

Btw, it would be cool if user could configure the action buttons that show up on an action - I hardly ever use Skip and Jump but I assume others might want

[2022-11-18 02:03] dlcoffee opened #1279 "react-json-tree: clientside exception with nextjs 13"
hi! i'm currently using `react-json-tree` for a project without issues. i tried to upgrade my project from nextjs 12 -> 13 but it seems like something is breaking when running in production mode. i've set up an example repo here with steps to reproduce: https://github.com/dlcoffee/json-viewer-bug

i can't tell if this is an issue with `react-json-tree` or if it's something to do with the way nextj

[2022-11-27 17:25] Franweb79 opened #1281 "Can´t find the icon to add Redux to my toolbar in the drag and drop menu"
I want to add the Redux icon to the toolbar but can´t find it on the drag and drop menu which is supposed to allow that

Version:107.0 (64-bit)

OS: Windows 10

I tried restoring to default values but it doesn´t work

<img width="960" alt="Captura" src="https://user-images.githubusercontent.com/30956748/204150405-cd400ab5-11af-4fec-9378-590c938456a6.PNG">

[2022-11-28 20:09] 80avin commented on #989
I think I can help in this. I had implemented a search for my personal needs using [jsonpath-plus](https://www.npmjs.com/package/jsonpath-plus) and regex(broken).

Here's a sample run on https://drfhc8.csb.app/
![image](https://user-images.githubusercontent.com/19588421/204370243-e4fff86f-4487-47c1-b35f-6c5afaf501f6.png)

Where original state is
![image](https://user-images.githubusercontent.com/1